﻿@{
    ViewBag.Title = "Role Master";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("urlGetRoleList", Url.Action("GetRoleList", "Role"))
@Html.Hidden("urlAddNewRole", Url.Action("AddNewRole", "Role"))
<style>
    .instal-dat-hist {
        margin-top: 50px;
    }
</style>

<!-- page start-->
<section id="main-content">
    <section class="wrapper instal-dat-hist">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12" id="m">
                <section class="panel">
                    <header class="panel-heading">
                        <b>Role Master </b>
                    </header>
                    <div class="row" style="">
                        <div class="col-lg-12">
                            <div class="container-fluid con_fluid_new">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <label for="name" class="control-label col-lg-2 col-md-2 col-sm-3 col-xs-4">Add New Role<span style="color:red">*</span></label>

                                            <div class="col-lg-4 col-md-2 col-sm-6 col-xs-6">
                                                <input type="text" name="Name" id="txtRoleName" maxlength="50" class="inputclass form-control">
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                                <button id="btnSave" class="btn btn-success" type="button"><i class="fa fa-plus"></i></button>
                                            </div>

                                        </div>
                                    </div>
                                    <table id="dynamic-table" class="display table table-bordered table-striped dataTable" aria-describedby="dynamic-table_info">
                                        <thead>
                                            <tr>
                                                <th width="">Role</th>
                                                @*<th width="50%">System Admin</th>*@
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<!-- page end-->

<script src='@Url.Content("~/Scripts/Admin/AdminRoleMaster.js")'></script>