

<div class="col-md-12 ">

    <div class="form-group">
        <label for="name" class="col-lg-3"><strong>Label:</strong>  <span style="color:red">*</span></label>
        <div class="col-lg-9">
            <div><input type="text" maxlength="200" class="form-control" id="txtfieldtitle" ng-blur="FieldLabelCheck(field.field_FieldLabel)" ng-model="field.field_FieldLabel" value="{{field.field_FieldLabel}}"></div>
        </div>
    </div>


    <!--<div class="form-group">
        <label for="name" class="col-lg-3">Field Filter Key:</label>
        <div class="col-lg-9">
            <div><input type="text" maxlength="200" class="form-control" ng-model="field.field_FieldFilterkey" value="{{field.field_FieldFilterkey}}"></div>
        </div>
    </div>-->
    <div class="form-group">

        <!--<div class="col-md-5">
            <label for="checkbox1">
                <span><strong>Allow Multi Selection</strong></span>
            </label>
            <input type="checkbox" class="col-lg-2 pull-right" ng-model="field.field_AllowMultiSelection" value="{{field.field_AllowMultiSelection}}" />
        </div>-->
        <div class="checkbox col-lg-5 col-md-6 col-sm-6 col-xs-6 lst_hide-div">
            <label for="checkbox1" class="lst_hide-lab" style="padding-left: 0px !important;">
                <span><strong>Hide Field Label</strong></span>
            </label>
            <input type="checkbox" class="col-lg-2 pull-right" ng-model="field.field_HideFieldLabel" value="{{field.field_HideFieldLabel}}" />
        </div>

    </div>






    <div class="form-group">

        <div class="checkbox col-md-5 col-sm-6 col-xs-6">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" for="checkbox1" style="padding-left: 0px !important;">
                <span><strong>Required</strong></span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_IsRequired" value="{{field.field_IsRequired}}" />
        </div>
        <div class="checkbox col-md-5 col-sm-6 col-xs-6">

            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 capt-label" for="checkbox1" style="padding-left: 0px !important;">
                <span class="capt"><strong>Capture Geolocation</strong></span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_CaptureGeolocation" value="{{field.field_CaptureGeolocation}}" />
        </div>

    </div>
    <div class="form-group">

        <div class="checkbox col-md-5 col-sm-6 col-xs-6">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" for="checkbox1" style="padding-left: 0px !important;">
                <span><strong>Enabled</strong></span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_IsEnabled" value="{{field.field_IsEnabled}}" />
        </div>

        <div class="checkbox col-md-5 col-sm-6 col-xs-6">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3" for="checkbox1" style="padding-left: 0px !important;">
                <span class="capt"><strong>Capture Timestamp</strong></span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_CaptureTimestamp" value="{{field.field_CaptureTimestamp}}" />
        </div>
    </div>




    <div ng-show="DivListOptionShow" class="color_1">
        <div class="form-group">
            <label for="name" class="col-lg-12"><strong>Values:</strong></label>
            <div class="col-lg-12">
                <form id="ListOptionForm" name="ListOptionForm">
                    <input type="hidden" id="hndOrderNo" />
                    <div class="col-lg-3" style="padding-right: 5px; padding-left: 0px;">
                        <div><input type="text" id="txtnewName" name="txtnewName" required placeholder="Name" ng-model="txtnewName" value="{{txtnewName}}" class="form-control"></div>
                    </div>
                    <div class="col-lg-3" style="padding-right: 5px; padding-left: 0px;">
                        <div><input type="text" id="txtnewValue" name="txtnewValue" required placeholder="Value" ng-model="txtnewValue" value="{{txtnewValue}}" class="form-control"></div>
                    </div>
                    <div class="col-lg-3" style="padding-right: 5px; padding-left: 0px;">
                        <div><input type="text" id="txtnewFilterkey" placeholder="Filter Key" class="form-control"></div>
                    </div>
                </form>
                <div class="col-lg-3" style="padding-right: 5px; padding-left: 0px;">
                    <div>
                        <input type="button" id="btnOptionSave" class="btn btn-success fa fa-plus" style="width: 66%; padding: 3px;" value="Add" ng-disabled="AddOptionsindisable()" ng-click="AddOptionsinList()" />
                        <!--<input type="button" id="btnOptionCancle" ng-click="CancelOptionsinList()" class="btn btn-danger fa fa-plus" style="width: 66%; padding: 3px;" value="Cancel" />-->
                        <button type="button" ng-click="CancelOptionsinList()" title="Cancel" class="btn btn-danger">
                            <span class="fa fa-close"></span>
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-group" style="margin-right:0px !important; margin-left:2px !important; ">
            <table class="table-striped table_angular">
                <thead>
                    <tr><th></th><th></th><th>Sr.no</th><th>Name</th><th>Value</th><th>Filter Key</th><th></th><th></th></tr>
                </thead>
                <tbody id="ListOptionsTable">
                    <!--<tr ng-repeat="Options in OptionsList">
                        <td name="nameoptionSerialNo">{{Options.SerialNo}}</td>
                        <td name="nameoptionName">{{Options.Name}}</td>
                        <td name="nameoptionValue">{{Options.Value}}</td>
                        <td name="nameoptionFilterkey">{{Options.Filterkey}}</td>
                        <td><span ng-click="Editcurrentoption($event)" style="cursor:pointer"><i class="fa fa-pencil-square-o"></i></span></td>
                        <td><span ng-click="Deletecurrentoption($event)" style="cursor:pointer"><i class="fa fa-trash"></i></span></td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>

