<div class="col-md-12 ">

    <div class="form-group">
        <label for="name" class="col-lg-3 stat-fld-lab"><strong>Field Label:</strong><span class="stat-mandatory" style="color:red">*</span></label>
        <div class="col-lg-9">
            <div><input type="text" maxlength="200" class="form-control" id="txtfieldtitle" ng-blur="FieldLabelCheck(field.field_FieldLabel)" ng-model="field.field_FieldLabel" value="{{field.field_FieldLabel}}"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-lg-3 txt-defval-lab" style="white-space:normal"><strong>Field Default Value:</strong></label>
        <div class="col-lg-9">
            <div><input type="text" class="form-control" maxlength="200" ng-model="field.field_DefaultValue" value="{{field.field_DefaultValue}}"></div>
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-lg-3 txt-hnt-lab"><strong>Hint Text:</strong></label>
        <div class="col-lg-9">
            <div><input type="text" maxlength="200" class="form-control" ng-model="field.field_HintText" value="{{field.field_HintText}}"></div>
        </div>
    </div>


    <div class="form-group">

        <div class="checkbox col-lg-5 col-md-6 col-sm-6 col-xs-6 stat-geo-div">
            <label for="checkbox1" style="padding-left:0px;" class="stat-cap">
                <span>Capture Geolocation</span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_CaptureGeolocation" value="{{field.field_CaptureGeolocation}}" style="margin-right:0px" />
        </div>
        <div class="checkbox col-md-3">

        </div>

    </div>
    <div class="form-group">

        <div class="checkbox col-lg-5 col-md-6 col-sm-6 col-xs-6 stat-enb">
            <label for="checkbox1" style="padding-left: 0px;" class="stat-enb-lab">
                <span>Enabled</span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_IsEnabled" value="{{field.field_IsEnabled}}" />
        </div>

        <div class="checkbox col-lg-5 col-md-6 col-sm-6 col-xs-6 stat-tme-div">
            <label for="checkbox1" style="padding-left: 0px;" class="stat-tme">
                <span>Capture Timestamp</span>
            </label>
            <input type="checkbox" id="checkbox1" class="col-lg-2 pull-right" ng-model="field.field_CaptureTimestamp" value="{{field.field_CaptureTimestamp}}" />
        </div>
    </div>


</div>