﻿@model GarronT.CMS.Model.AspNetPermission
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='submit']").button();
        $(":input[type='text']").text();
    });
</script>



<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <b>Permission Create</b>

                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="panel">
                                <fieldset>
                                    <legend>
                                        <h3>
                                            Create Permission
                                        </h3>
                                    </legend>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.PermissionDescription, "Permission Description")
                                        </div>
                                        <div class="editor-field">
                                            @Html.TextBoxFor(model => model.PermissionDescription, new { style = "width:450px" })
                                            @Html.ValidationMessageFor(model => model.PermissionDescription)
                                        </div>
                                        <br />
                                        <input type="submit" value="Create" />
                                    }
                                </fieldset>
                            </div>
                            <div>
                                @Html.ActionLink("Go to Permissions", "PermissionIndex", "Admin")
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
