﻿@*@model GarronT.CMS.Model.AspNetRole*@

@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(":input[type='submit']").button();
        $(":input[type='button']").button();
    })
</script>


<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <b>City Master </b>

                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="panel">
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <legend>
                                            <h3>
                                                Create Role
                                            </h3>
                                        </legend>
                                        <table style='width: 100%'>
                                            <tr>
                                                <td style='width: 10%; font-weight: bold' class='userTable'>
                                                    @Html.LabelFor(model => model.Name)
                                                </td>
                                                <td style='width: 28%' class='userTable'>
                                                    @Html.TextBoxFor(model => model.Name, new { style = "width:450px" })
                                                    @Html.ValidationMessageFor(model => model.Name)
                                                </td>
                                                @*<td style='width: 8%; font-weight: bold' class='userTable'>
                                @Html.LabelFor(model => model.IsSysAdmin, "System Role")
                            <td style='width: 20%' class='userTable'>
                                @Html.EditorFor(model => model.IsSysAdmin)
                                @Html.ValidationMessageFor(model => model.IsSysAdmin)
                            </td>*@
                                            </tr>

                                        </table>
                                        <br />
                                        <input type="submit" value="Create Role" />
                                    </fieldset>
                                }
                            </div>
                            <div>
                                @Html.ActionLink("Go to Roles", "RoleIndex", "Admin")
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
