﻿@{
    ViewBag.Title = "Auditor Report";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*Addedby AniketJ*@
@Html.Hidden("urlGetAuditorList", Url.Action("GetAuditorByProjectID", "AuditorReports"))



@Html.Hidden("ClientListUrl", Url.Action("GetClientList", "AuditorReports"))
@Html.Hidden("urlGetAddress", Url.Action("GetAddress", "AuditorReports"))
@Html.Hidden("urlGetProject", Url.Action("GetPoject", "AuditorReports"))

@Html.Hidden("GetAddressUrl", Url.Action("GetAddress", "AuditorReports"))

@Html.Hidden("GetCycle", Url.Action("GetCycleListByProjectID", "AuditorReports"))
@Html.Hidden("GetRootByCycle", Url.Action("GetRootByCycle", "AuditorReports"))
@Html.Hidden("GetAddress", Url.Action("GetAddressByCycle_Root", "AuditorReports"))



@Html.Hidden("GetLatLag", Url.Action("GetLat_by_Root", "AuditorReports"))
@Html.Hidden("GetRoot", Url.Action("GetRootByCycle", "AuditorReports"))


@Html.Hidden("GetLatLagby_ProjectInstaller", Url.Action("GetLat_by_ProjectInstaller", "AuditorReports"))
@Html.Hidden("UrlDashboard", Url.Action("Index", "Reports"))
@Html.Hidden("UrlReportsList", Url.Action("GetReportsList", "AuditorReports"))

@Html.Hidden("urlsetEditId", Url.Action("Edit", "Reports"))
@Html.Hidden("urlDisplay", Url.Action("DispalyRecords", "AuditorReports"))

@Html.Hidden("urlDisplay1", Url.Action("DispalyRecords1", "AuditorReports"))
@Html.Hidden("urlEditRecords", Url.Action("EditRecords", "AuditorReports"))
@*@Html.Hidden("urlGetFieldImages", Url.Action("GetFieldImages", "Reports"))*@
@Html.Hidden("UrlgetListDetails", Url.Action("getListDetails", "AuditorReports"))
@Html.Hidden("UrlgetListDetailsOnBack", Url.Action("getListDetailsOnBack", "AuditorReports"))

@Html.Hidden("urlGetProjectDate", Url.Action("GetProjectDate", "AuditorReports"))

@Html.Hidden("urlGeneratePDFbyID", Url.Action("DownloadFile", "AuditorReports"))
@Html.Hidden("urlstoredPDFIDs", Url.Action("GetPDFDownloadID", "AuditorReports"))

@Html.Hidden("urlGetProjectbyProjectStatus", Url.Action("GetPojectbyProjectStatus", "AuditorReports"))
@Html.Hidden("urlGetRouteListByCycle", Url.Action("GetRouteListByCycle", "AuditorReports"))
@Html.Hidden("urlGetAddressUrl", Url.Action("GetAddressbyProjectRouteCycle", "AuditorReports"))


@Html.Hidden("urlExportReportMultipleIDs", Url.Action("ExportReportMultipleIDs", "AuditorReports"))
@Html.Hidden("urlGeneratePDFmultipleRows", Url.Action("DownloadMultipleFile", "AuditorReports"))
@Html.Hidden("urlViewMultiplePDF", Url.Action("GenerateMultiplePDF", "AuditorReports"))
@Html.Hidden("urlGetReopenData", Url.Action("GetReopenData", "AuditorReports"))
@Html.Hidden("urlReopenForm", Url.Action("reOpenRecord", "AuditorReports"))
@Html.Hidden("urlCreate", Url.Action("Create", "AuditorReports"))

@Html.Hidden("urlGetSkipEditData", Url.Action("GetSkipEditData", "AuditorReports"))

@Html.Hidden("urlRedirectCreate", Url.Action("Create", "AuditorReports"))

@Html.Hidden("urlSelectAll", Url.Action("SelectAll", "AuditorReports"))

<!--added by Aniketj on 1-Sep-2016-->
@Html.Hidden("urlGetSkipRTUID", Url.Action("GetSkipRTUID", "AuditorReports"))
@Html.Hidden("urlDownloadFileSkipRTU", Url.Action("DownloadFileSkipRTU", "AuditorReports"))




<script>
    var slideIndex = 1;
    $(document).ready(function () {
        showDivs(slideIndex);
    })

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        debugger;
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        if (x.length > 0)
            x[slideIndex - 1].style.display = "block";
    }
</script>

<style>
    #example-select-all {
        margin: 2px -8px 0px 0px !important;
    }

    .control-label {
        margin-bottom: 0px;
    }

    .form-group-1 {
        margin-top: 40px;
    }

    .chosen-select {
        /*width: auto;*/
    }

    .ddlHeader {
        color: #000000;
    }

    .rep-grp2 {
        /*margin-top: 74px;
        margin-bottom: 112px;*/
    }

    .rep-grp3 {
        margin-top: 81px;
    }

    .btn-exp {
        width: 14%;
        float: right;
        margin-right: 5px;
    }

    .dataTables_paginate.paging_bootstrap.pagination {
        /*margin-left: 60% !important;
            margin-bottom: 0% !important;
            margin-top: -1%;*/
    }

    div.dataTables_info1 {
        /*margin-top: 6px;*/
    }

    .rep-shw-ent {
        margin-top: -26px;
        /*margin-bottom: -15px;*/
        height: 40px;
    }

    .drp-rec {
    }

    .rep-shw-ent .dataTables_info {
        padding: 10px 0px !important;
    }

    .bottom-dataTables_length {
        padding-left: 16px;
    }

    .text-success {
        color: yellow;
        background: yellow;
        /*border-radius: 3px;*/
        font-size: 13px;
        border: 2px solid #000;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: green;
    }

    .report-modal-nav li a {
        color: black;
    }

    .report-modal-nav > li .active > a {
    }

    @@media only screen and (min-width:321px) and (max-width:410px) {
        .dataTables_paginate.paging_bootstrap.pagination {
            min-width: 100% !important;
        }
    }

    @@media only screen and (min-width:411px) and (max-width:429px) {
        .dataTables_paginate.paging_bootstrap.pagination {
            min-width: 90% !important;
        }
    }

    @@media (max-width:320px) {
        .rep-box {
            /*margin-left: 10%;*/
        }

        .for_btn {
            margin-bottom: 3%;
            margin-left: 7%;
        }

        .rep_date {
            /*margin-left: 6%;*/
            margin-left: 8%;
            margin-right: -6%;
        }



        .rep_srch {
            padding-left: 0px;
            margin-left: 8%;
        }

            .rep_srch > .btn-success {
                margin-left: 2%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                margin-left: 3%;
            }

        .iconic-input {
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 37%;
            float: left;
            margin-top: 8px;
            margin-left: 50%;
        }

        .dataTables_filter {
            float: right !important;
            width: 61%;
            text-align: center;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            min-width: 100% !important;
        }

        .rep-shw-ent {
        }

        .drp-rec {
            margin-top: -4%;
        }

        .rep-shw-ent .dataTables_info {
            padding: 0px 0px !important;
            margin-top: -5%;
        }

        .bottom-dataTables_length .dataTables_info {
            margin-top: -8%;
        }

        .dataTables_length > label {
            white-space: normal;
            width: auto;
        }

        div.dataTables_info {
            margin-top: -10%;
        }

        .dup-text-div {
            margin-left: 9%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:321px) and (max-width:359px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 3%;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
            }

        .iconic-input {
            /*margin-left: 70%;*/
            width: 100%;
        }

        .rep-grp {
            margin-bottom: 3%;
        }

        .rep-grp1 {
            margin-top: 12%;
        }

        .btn-exp {
            width: 37%;
            float: left;
            margin-top: 8px;
            margin-left: 42%;
        }

        .dataTables_filter {
            float: right !important;
            width: 61% !important;
            text-align: center !important;
        }
        /*.dataTables_paginate.paging_bootstrap.pagination{
            min-width:90% !important;
        }*/
        .rep-shw-ent {
        }

        .drp-rec {
            margin-top: -4%;
        }

        .rep-shw-ent .dataTables_info {
            padding: 0px 0px !important;
            margin-top: -5%;
        }

        .bottom-dataTables_length .dataTables_info {
            margin-top: -8%;
        }

        .dup-text-div {
            margin-left: -7%;
            width: 95%;
        }
    }

    @@media only screen and (min-width:360px) and (max-width:420px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 3%;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
            }

        .iconic-input {
            /*margin-left: 70%;*/
            width: 100%;
        }

        .rep-grp {
            margin-bottom: 3%;
        }

        .rep-grp1 {
            margin-top: 12%;
        }

        .btn-exp {
            width: 37%;
            float: left;
            margin-top: 8px;
            margin-left: 42%;
        }

        .dataTables_filter {
            float: right !important;
            width: 61% !important;
            text-align: center !important;
        }
        /*.dataTables_paginate.paging_bootstrap.pagination{
            min-width:90% !important;
        }*/
        .rep-shw-ent {
        }

        .drp-rec {
            margin-top: -4%;
        }

        .rep-shw-ent .dataTables_info {
            padding: 0px 0px !important;
            margin-top: -5%;
        }

        .bottom-dataTables_length .dataTables_info {
            margin-top: -8%;
        }

        div.dataTables_info {
            margin-top: -10%;
        }
    }

    @@media only screen and (min-width:421px) and (max-width:479px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .iconic-input {
            margin-left: 18%;
            margin-right: 0%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
            float: right !important;
            width: 61% !important;
            text-align: center !important;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            min-width: 80% !important;
        }

        .rep-shw-ent .dataTables_info {
            margin-left: -35%;
            margin-top: 1%;
            width: 44%;
        }

        .bottom-dataTables_length .dataTables_info {
        }

        .dup-text-div {
            margin-left: -7%;
            width: 95%;
        }
    }

    /*@@media only screen and (min-width:481px) and (max-width:599px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .iconic-input {
            width: 90%;
            margin-left: 0%;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }
        .dataTables_paginate.paging_bootstrap.pagination{
                min-width: 80% !important;
        }
        .rep-shw-ent  .dataTables_info {
               margin-left: -23%;
                margin-top: 12%;
                width: 40%;
        }

            .bottom-dataTables_length .dataTables_info {

            }
    }*/


    @@media only screen and (min-width:480px) and (max-width:530px) and (orientation:portrait) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        dataTables_filter {
            float: right !important;
            width: 50% !important;
        }

        .iconic-input {
            width: 85%;
            float: right;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
            float: right !important;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 80% !important;*/
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        .rep-shw-ent > .dataTables_info {
            /*margin-left: -35%;*/
            margin-top: 0%;
            width: 50%;
            margin-right: 10%;
        }


        .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
            margin-top: -1%;
            margin-bottom: -1%;
        }

        div.dataTables_info {
            margin-top: 1%;
        }

        .dup-text-div {
            white-space: nowrap;
        }
    }

    @@media only screen and (min-width:480px) and (max-width:530px)and (orientation:landscape) {
        .wrapper {
            margin-top: -1%;
            padding-top: 0;
        }

        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        dataTables_filter {
            float: right !important;
            width: 50% !important;
        }

        .iconic-input {
            width: 90%;
            float: right;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
            float: right !important;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 80% !important;*/
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        .rep-shw-ent > .dataTables_info {
            margin-left: -35%;
            margin-top: 0%;
            width: 50%;
            margin-right: 10%;
        }


        .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
            margin-top: -1%;
            margin-bottom: -1%;
        }

        div.dataTables_info {
            margin-top: 1%;
        }

        .dup-text-div {
            white-space: nowrap;
            margin-left: -6%;
        }
    }

    @@media only screen and (min-width:531px) and (max-width:567px)and (orientation:portrait) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .iconic-input {
            width: 90%;
            margin-left: 0%;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 80% !important;*/
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        .rep-shw-ent {
            margin-top: 9%;
        }

            .rep-shw-ent .dataTables_info {
                margin-left: -23%;
                /*margin-top: 12%;
                width: 40%;*/
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                /*margin-top: -7%;*/
                margin-top: 0%;
            }

        .dup-text-div {
            margin-left: 0%;
            margin-right: -14%;
        }
    }

    @@media only screen and (min-width:531px) and (max-width:567px)and (orientation:landscape) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .iconic-input {
            width: 90%;
            margin-left: 0%;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 80% !important;*/
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        .rep-shw-ent {
            margin-top: 0%;
        }

            .rep-shw-ent .dataTables_info {
                margin-left: -23%;
                /*margin-top: 12%;
                width: 40%;*/
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -7%;
            }

        .dup-text-div {
            margin-left: 5%;
            margin-right: -14%;
        }
    }

    @@media only screen and (min-width:568px) and (max-width:599px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .iconic-input {
            width: 90%;
            margin-left: 0%;
        }

        .rep-mod {
            margin: 0 auto;
            width: 88%;
        }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 80% !important;*/
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        .rep-shw-ent .dataTables_info {
            margin-left: -23%;
            margin-top: 12%;
            width: 40%;
            margin-right: -3%;
        }

        .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
            margin-top: -1%;
            margin-bottom: -1%;
        }

        div.dataTables_info {
            margin-top: 1%;
        }

        .dup-text-div {
            margin-left: 12%;
            margin-right: -14%;
        }
    }

    @@media only screen and (min-width:600px) and (max-width:640px) and (orientation:portrait) {
        .rep_panel {
            margin-top: -1% !important;
        }

        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width:74% !important;*/
        }

        div.dataTables_info {
            margin-top: 1%;
            /*padding-left: 12%;*/
        }

        .rep-shw-ent {
            margin-top: 8%;
        }

            .rep-shw-ent .dataTables_info {
                margin-left: -20%;
                margin-right: -1%;
                width: 40%;
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -2%;
            }

        .dup-text-div {
            margin-left: 14%;
            margin-right: -8%;
        }
    }

    @@media only screen and (min-width:600px) and (max-width:640px) and (orientation:landscape) {
        .wrapper {
            margin-top: 2% !important;
        }

        .rep_panel {
            margin-top: -1% !important;
        }

        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width: 75% !important;*/
            margin-top: -1%;
            margin-left: -4% !important;
        }

        div.dataTables_info {
            padding-top: 3%;
        }

        .rep-shw-ent {
            margin-top: 14%;
        }

            .rep-shw-ent .dataTables_info {
                margin-top: -5%;
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -7%;
            }

        .dup-text-div {
            margin-left: 20%;
            margin-right: -8%;
        }
    }

    @@media only screen and (min-width:641px) and (max-width:710px) {
        .wrapper {
            margin-top: -1%;
            padding-top: 0;
        }

        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0%;
            margin-right: 0%;
            margin-left: 0%;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            margin-top: 0%;
        }

        .rep-shw-ent > .dataTables_info {
            margin-top: 10%;
            margin-left: -18%;
            width: 40%;
        }

        .drp-rec {
            margin-top: -2%;
        }

        .rep-shw-ent {
        }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -1%;
                margin-bottom: -1%;
            }

            .rep-shw-ent > div.dataTables_info {
                margin-right: 0%;
                /*margin-top: 1%;*/
            }

        div.dataTables_info {
            margin-right: -38%;
            margin-top: 1%;
        }

        .dup-text-div {
            margin-left: 25%;
            margin-right: -14%;
        }
    }

    @@media only screen and (min-width:711px) and (max-width:767px) {
        .wrapper {
            margin-top: -1%;
            padding-top: 0;
        }

        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0%;
            margin-right: 0%;
            margin-left: 0%;
        }

            .rep_srch > .btn-success {
                width: 100%;
            }

        .rep_res {
            padding-left: 0px;
        }

            .rep_res > .btn-danger {
                width: 100%;
            }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            margin-top: 0%;
        }

        .rep-shw-ent > .dataTables_info {
            margin-right: 0%;
            margin-top: 8%;
            width: 50%;
            float: left;
            margin-left: -16%;
        }

        .drp-rec {
            margin-top: -2%;
        }

        .rep-shw-ent {
        }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -1%;
                margin-bottom: -1%;
            }

        div.dataTables_info {
            margin-right: -38%;
            margin-top: 1%;
        }

        .dup-text-div {
            margin-left: 32%;
            margin-right: -12%;
        }
    }

    @@media only screen and (min-width:768px) and (max-width:799px) {
        .rep-box {
            margin-left: 8%;
        }

        .for_btn {
            margin-bottom: 2%;
        }

        .rep_date_inp {
        }

        .rep_todate_inp {
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
            margin-right: -5%;
        }

            .rep_srch > .btn-success {
            }

        .rep_res {
            padding-left: 0px;
            margin-left: 6%;
            margin-right: -18%;
        }

            .rep_res > .btn-danger {
            }

        .btn-exp {
            width: 40%;
            float: right;
            margin-top: 0px;
        }

        .dataTables_filter {
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width:70% !important;*/
            margin-top: 1%;
        }

        div.dataTables_info {
            margin-top: 1%;
            margin-right: -17%;
        }

        .rep-shw-ent {
            margin-top: 14%;
        }

            .rep-shw-ent .dataTables_info {
                margin-top: -5%;
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -7%;
            }
    }

    @@media only screen and (min-width:800px) and (max-width:850px) {
        .for_btn {
            margin-left: -2%;
            margin-right: -2%;
            width: 28%;
        }

        .rep-box {
            margin-left: 2%;
        }

        .rep_date_inp {
        }

        .rep_todate_inp {
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            /*padding-left: 0px;
            margin-right: -5%;*/
            margin-right: -12%;
            margin-left: -8%;
            width: 63% !important;
        }

            .rep_srch > .btn-success {
                padding-left: 0;
            }

        .rep_res {
            padding-left: 0px;
            margin-left: 6%;
            margin-right: -18%;
            width: 63% !important;
        }

            .rep_res > .btn-danger {
            }

        .btn-exp {
            width: 18%;
            margin-right: 4%;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width:74% !important;*/
            margin-top: 0%;
        }

        div.dataTables_info {
            margin-top: 1%;
            margin-right: -22%;
            /*padding-left: 12%;*/
        }

        .rep-shw-ent {
            margin-top: -4%;
        }

            .rep-shw-ent .dataTables_info {
                /*margin-top: -5%;*/
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -2%;
            }

        .dup-color-bootstrap {
            width: 50% !important;
        }

        .dup-text-div {
            margin-left: 0%;
        }
    }

    @@media only screen and (min-width:851px) and (max-width:919px) {
        .rep-box {
        }

        .rep_date_inp {
        }

        .rep_todate_inp {
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
            margin-right: -5%;
        }

            .rep_srch > .btn-success {
            }

        .rep_res {
            padding-left: 0px;
            margin-left: 6%;
            margin-right: -18%;
        }

            .rep_res > .btn-danger {
            }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        div.dataTables_info1 {
            margin-top: 1%;
            padding-left: 23%;
        }

        .dup-text-div {
            margin-left: -91%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:920px) and (max-width:967px) {
        .rep-box {
        }

        .rep_date_inp {
        }

        .rep_todate_inp {
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            padding-left: 0px;
            margin-right: -5%;
        }

            .rep_srch > .btn-success {
            }

        .rep_res {
            padding-left: 0px;
            margin-left: 6%;
            margin-right: -18%;
        }

            .rep_res > .btn-danger {
            }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        div.dataTables_info1 {
            margin-top: 1%;
            padding-left: 23%;
        }

        .dup-text-div {
            margin-left: -59%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:968px) and (max-width:1023px) {
        .for_btn {
            margin-left: -2%;
            margin-right: -1.5%;
            width: 28%;
        }

        .rep-box {
            margin-left: 2%;
        }

        .rep_date_inp {
            margin-left: -20%;
            width: 120%;
        }

        .rep_todate_inp {
            width: 120%;
        }

        .rep_date {
            padding-left: 0;
        }

        .rep_srch {
            /*padding-left: 0px;
            margin-right: -5%;*/
            margin-right: -12%;
            margin-left: -8%;
            width: 63% !important;
        }

            .rep_srch > .btn-success {
                padding-left: 0;
            }

        .rep_res {
            padding-left: 0px;
            margin-left: 6%;
            margin-right: -18%;
            width: 63% !important;
        }

            .rep_res > .btn-danger {
            }

        .btn-exp {
            width: 18%;
            margin-right: 4%;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
            /*min-width:74% !important;*/
        }

        div.dataTables_info {
            margin-top: 1%;
            /*padding-left: 12%;*/
            width: 40%;
        }

        .rep-shw-ent {
            margin-top: 0%;
            margin-bottom: 0%;
        }

            .rep-shw-ent .dataTables_info {
                margin-top: -3%;
                width: 40%;
            }

            .rep-shw-ent > .dataTables_paginate.paging_bootstrap.pagination {
                margin-top: -5%;
            }

        .dup-text-div {
            margin-left: -68%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:1024px) and (max-width:1100px) {
        .iconic-input {
            margin-right: -8%;
        }

        .dataTables_paginate.paging_bootstrap.pagination {
        }

        div.dataTables_info {
            /*margin-top: 5%;
                    padding-left: 22%;*/
        }

        .dup-text-div {
            margin-left: -47%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:1101px) and (max-width:1200px) {
        .dup-text-div {
            margin-left: -32%;
            margin-right: -13%;
        }
    }

    @@media only screen and (min-width:1201px) and (max-width:1280px) {
        .dup-text-div {
            margin-left: -9%;
            margin-right: -13%;
        }
    }
</style>

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching things...
        </p>
    </div>
</div>



<!-- page start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12 ">

                <section class="panel rep_panel" style="margin-bottom: -1%;">
                    <header class="panel-heading rep_header" style="background: #80B2DF; color: #fff;">
                        Auditor Report
                        <span class="tools pull-right">
                            <a id="haha" class="fa fa-chevron-down clickdive" href="javascript:;" style="color: #fff; padding-right:10px;"></a>
                        </span>
                    </header>
                    <br />
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 5px;">
                            <form id="reportForm" style="margin:0 auto;">
                                @*<div class="col-lg-1 col-sm-1"></div>*@
                                <div class="col-lg-12 col-sm-10 col-xs-12 rep-box">
                                    <div class="row">
                                        @*<div class="box6">*@
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            @*<select data-placeholder="Select Client" name="ClientName" id="ddlClient" class="form-control chosen-select"></select>*@
                                            <div id="divProjectStatus" class="">
                                                <div class="chosen-container chosen-container-single " title="" id="ddlProjectStatus_chosen">
                                                    <a class="chosen-single chosen-default" id="ancProjectStatus_chosen" tabindex="-1"><span class="" id="ProjectStatusHeader">Select Project Status</span><div><b></b></div></a>
                                                    <div class="chosen-drop">
                                                        <div class="chosen-search"><input type="text" id="txtfilterallProjectStatus" class="txtfilterall" onkeyup="filterProjectStatus(this)" autocomplete="off"></div>
                                                        <div class="ProjectStatusFilter row">
                                                            <label style="margin-left: 7px;" class="col-lg-2">
                                                                <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="ProjectStatus_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                            </label>

                                                        </div>
                                                        <ul id="ulProjectStatus" class="chosen-results " style=""></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn ">
                                            <select data-placeholder="Select Project" name="ProjectName" id="ddlProject" class="form-control chosen-select"></select>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            <div id="divStatus" class="">
                                                <div class="chosen-container chosen-container-single " title="" id="ddlStatus_chosen">
                                                    <a class="chosen-single chosen-default" id="ancStatus_chosen" tabindex="-1"><span class="" id="StatusHeader">Select visit Status</span><div><b></b></div></a>
                                                    <div class="chosen-drop">
                                                        <div class="chosen-search"><input type="text" id="txtfilterallStatus" class="txtfilterall" autocomplete="off"></div>
                                                        <div class="StatusFilter row">
                                                            <label style="margin-left: 7px;" class="col-lg-2">
                                                                <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="Status_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                            </label>

                                                        </div>
                                                        <ul id="ulStatus" class="chosen-results " style=""></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            <div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_date">
                                                <input type="text" name="FromDates" id="datepicker1" readonly="readonly" class="form-control rep_date_inp" />
                                            </div>
                                            <div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_date rep_todate ">
                                                <input type="text" name="ToDates" id="datepicker2" readonly="readonly" class="rep_todate_inp form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top:8px;">
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            <div id="divroot">
                                                <div id="divInstaller" class=" ">
                                                    <div class="chosen-container chosen-container-single " title="" id="ddlInstaller_chosen">
                                                        <a class="chosen-single chosen-default" id="ancInstaller_chosen" tabindex="-1"><span class="" id="InstallerHeader">Select Auditor</span><div><b></b></div></a>
                                                        <div class="chosen-drop">
                                                            <div class="chosen-search"><input type="text" id="txtfilterallInstaller" class="txtfilterall" onkeyup="filterInstaller(this)" autocomplete="off"></div>
                                                            <div class="InstallerFilter row">
                                                                <label style="margin-left: 7px;" class="col-lg-2">
                                                                    <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="Installer_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                                </label>
                                                            </div>
                                                            <ul id="ulInstaller" class="chosen-results " style=""></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            <div id="divCycle">


                                                <div class="chosen-container chosen-container-single " title="" id="ddlCycle_chosen">
                                                    <a class="chosen-single chosen-default" id="ancCycle_chosen" tabindex="-1"><span class="" id="CycleHeader">Select Cycle</span><div><b></b></div></a>
                                                    <div class="chosen-drop">
                                                        <div class="chosen-search"><input type="text" id="txtfilterallCycle" class="txtfilterall" onkeyup="filterCycle(this)" autocomplete="off"></div>
                                                        <div class="CycleFilter row">
                                                            <label style="margin-left: 7px;" class="col-lg-2">
                                                                <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="Cycle_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                            </label>

                                                        </div>
                                                        <ul id="ulCycle" class="chosen-results " style=""></ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            <div id="divRoute">

                                                <div class="chosen-container chosen-container-single " title="" id="ddlRoute_chosen">
                                                    <a class="chosen-single chosen-default" id="ancRoute_chosen" tabindex="-1"><span class="" id="RouteHeader">Select Route</span><div><b></b></div></a>
                                                    <div class="chosen-drop">
                                                        <div class="chosen-search"><input type="text" id="txtfilterallRoute" class="txtfilterall" onkeyup="filterRoute(this)" autocomplete="off"></div>
                                                        <div class="RouteFilter row">
                                                            <label style="margin-left: 7px;" class="col-lg-2">
                                                                <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="Route_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                            </label>

                                                        </div>
                                                        <ul id="ulRoute" class="chosen-results " style=""></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 col-xs-10 for_btn">
                                            @*<button id="btnSearch" class="btn btn-success rep_srch" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                <button class="btn btn-danger rep_res" id="btnReset" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;&nbsp;&nbsp;&nbsp;</button>*@
                                            <div id="divAddress">

                                                <div class="chosen-container chosen-container-single " title="" id="ddlAddress_chosen">
                                                    <a class="chosen-single chosen-default" id="ancAddress_chosen" tabindex="-1"><span class="" id="AddressHeader">Select Address</span><div><b></b></div></a>
                                                    <div class="chosen-drop">
                                                        <div class="chosen-search"><input type="text" id="txtfilterallAddress" class="txtfilterall" onkeyup="filterAddress(this)" autocomplete="off"></div>
                                                        <div class="AddressFilter row">
                                                            <label style="margin-left: 7px;" class="col-lg-2">
                                                                <input type="checkbox" style="zoom:1.2;" class="chbSelectAll" id="Address_SelectAll" autocomplete="off" value=" "><span>Select All</span>
                                                            </label>
                                                        </div>
                                                        <ul id="ulAddress" class="chosen-results " style=""></ul>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        @*</div>*@
                                    </div>
                                    <div class="row" style="padding-top:8px;">
                                        <div class="col-lg-3 col-sm-6 col-xs-12">
                                            @*<div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_srch ">
                                                    <button id="btnExport" class="btn btn-success" type="button">Export</button>
                                                </div>*@
                                            <div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_srch ">
                                                <button id="btnSearch" class="btn btn-success" type="button">Search</button>
                                            </div>
                                            <div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_res ">
                                                <button class="btn btn-danger" id="btnReset" type="button">Reset</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-sm-6 col-xs-12">
                                            @*<div class="form-group col-lg-6 col-sm-6 col-xs-5 rep_exp">*@

                                            <button id="btnExport" class="btn btn-success btn-exp" type="button">Export</button>

                                            @*</div>*@
                                        </div>
                                    </div>
                                    @*<div class="row" style="padding-top:10px;">
                                        <div class="col-lg-3 col-sm-6 col-xs-8 dup-color-bootstrap" style="float:right;">
                                            <div class="form-group dup-text-div">
                                                <div class="col-lg-1 " style=""></div>
                                                <div class="col-lg-1 col-xs-2 col-sm-1" style="">
                                                    <i class="fa fa-square-o fa-2x text-success"></i>&nbsp;
                                                </div>
                                                <span>Duplicate Report Indicator </span>
                                            </div>
                                        </div>
                                    </div>*@

                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="panel dynamic_panel rep-dyanmc-panel">
            <div class="panel-body report_table ">
                <div class="table-responsive col-lg-12 rep_dyn_table">
                    <table id="dynamic-table" class="display table table-bordered table-striped dataTable  " aria-describedby="dynamic-table_info">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
                                <th width="30%">Audit Date Time</th>
                                <th width="7%">Account</th>
                                <th width="1%">Cycle</th>
                                <th width="1%">Route</th>
                                <th width="30%">Address</th>
                                @*<th width="30%">Form Name</th>*@

                                <th width="5%">Old Meter<br>Number</th>
                                <th width="5%">Old Meter<br>Size</th>
                                @*<th width="5%">Old Meter<br>Final Reading</th>*@
                                <th width="5%">New Meter<br>Number</th>
                                <th width="5%">New Meter<br>Size</th>
                                <th width="5%">New Radio<br>Number</th>

                                <th width="12%">Auditor</th>
                                <th width="7%">Status</th>
                                @*<th width="8%">Reason</th>
                                <th width="1%">C</th>*@
                                @*<th width="19%">IsDuplicate</th>*@
                                <th width="13%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>
<div class="modal fade modal-dialog-center" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md rep-mod">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">REOPEN</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        @*<div class="form-group rep-grp">

                                <label class="col-lg-2 col-sm-2 control-label">Start Date <span style="color:red">*</span></label>
                                <div class="col-lg-4 col-sm-4">
                                    <input type="text" name="FromDate" id="txtFromDate" readonly class="inputclass form-control " />
                                </div>
                                <label class="col-lg-2 col-sm-2 control-label ">End Date <span style="color:red">*</span></label>
                                <div class="col-lg-4 col-sm-4">
                                    <input type="text" name="ToDate" id="txtToDate" readonly class="inputclass form-control " />
                                </div>
                            </div>*@
                        <div class="form-group rep-grp">
                            <input type="hidden" id="upLoadId" />
                            <input type="hidden" id="formId" />
                            <label for="name" class="col-lg-2 col-sm-2 control-label">Installer</label>
                            <div class="col-lg-4 col-md-6 col-xs-12 col-sm-10 nopadding_header">
                                <select data-placeholder="Select Installer" name="ddlReopenInstaller" id="ddlReopenInstaller" class="form-control chosen-select "></select>
                            </div>
                            <div class="col-lg-12 col-md-6 col-xs-12 col-sm-10">

                            </div>

                        </div>

                        <div class="form-group rep-grp2">
                            <label for="name" class="col-lg-2 col-sm-2 control-label">Reopen reason</label>
                            <div class="col-lg-8 col-md-8 col-xs-12 col-sm-10 nopadding_header">
                                <select data-placeholder="Select Reason" name="ddlReasonMaster" id="ddlReasonMaster" class="form-control chosen-select "></select>
                            </div>
                        </div>

                        <div class="form-group rep-grp3">
                            <label for="name" class="col-lg-2 col-sm-2 col-xs-2 control-label">Comment</label>
                            <div class="col-lg-10 col-md-8 col-xs-12 col-sm-10 nopadding_header">
                                <textarea class="form-control" style="overflow:auto;resize:none" name="reason" id="txtReopenReason" cols="61" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 btn-reopn" style="text-align:center;">
                                <button id="btnReopen" class="btn btn-success" type="button">Reopen</button>
                                <button class="btn btn-danger" id="btnReopenCancel" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-dialog-center" id="ModelSKIP_RTU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg rep-mod " style="margin-top: 0;">
        <div class="modal-content-wrap">
            <div class="modal-content skip-rep-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Status"></h4>
                </div>
                <div class="modal-body skip-rep-modal-body">
                    <div class="panel-body">
                        <form id="form3" class="cmxform form-horizontal tasi-form">
                            @*<div class="row">*@
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 skip-data-div">
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-acc-label" style=""><strong>Account : </strong></label>
                                    <div id="txtAccount" class="col-lg-8  col-xs-8 col-sm-8 line-height-div" style="">
                                        @*<label id="txtAccount" style="line-height:25px"></label>*@
                                    </div>
                                    @*<label for="name" class="col-lg-2 col-sm-2 col-xs-12 control-label ">Address : </label>
                                        <div class="col-lg-4 col-xs-12 col-sm-4 ">
                                            <label id="txtAddress" style="line-height:25px"></label>
                                        </div>*@
                                </div>
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-addr-label" style=""><strong>Address :</strong> </label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 line-height-div" id="txtAddress" style="">
                                        @*<label id="txtAddress" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-frm-label" style=""><strong>Form Name :</strong> </label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 line-height-div" id="txtFromName" style="">
                                        @*<label id="txtFromName" style="line-height:25px"></label>*@
                                    </div>

                                </div>
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-cycle-label" style=""><strong>Cycle :</strong>  </label>
                                    <div class="col-lg-3 col-xs-3 col-sm-2 line-height-div" id="txtCycle" style="">
                                        @*<label id="txtCycle" style="line-height:25px"></label>*@
                                    </div>
                                    <label for="name" class="col-lg-2 col-sm-3 col-xs-2 control-label skip-route-label" style=""><strong>Route :</strong> </label>
                                    <div class="col-lg-3  col-xs-3 col-sm-3 line-height-div" id="txtRoute" style="">
                                        @*<label id="txtRoute" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                @*<div class="form-group ">
                                        <label for="name" class="col-lg-2 col-sm-2 col-xs-12 control-label ">Route : </label>
                                        <div class="col-lg-4  col-xs-12 col-sm-4">
                                            <label id="txtRoute" style="line-height:25px"></label>
                                        </div>

                                    </div>*@
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-inst-label" style=""><strong>Auditor :</strong> </label>
                                    <div class="col-lg-3 col-xs-3 col-sm-2 line-height-div" id="txtInstaller" style="">
                                        @*<label id="txtInstaller" style="line-height:25px"></label>*@
                                    </div>
                                    <label for="name" class="col-lg-2 col-sm-3 col-xs-2 control-label skip-status-label" style=""><strong>Status :</strong> </label>
                                    <div class="col-lg-3 col-xs-3 col-sm-3 line-height-div" id="txtStatus" style="">
                                        @*<label id="txtStatus" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                @*<div class="form-group ">
                                        <label for="name" class="col-lg-2 col-sm-2 col-xs-12 control-label ">Status : </label>
                                        <div class="col-lg-4  col-xs-12 col-sm-4">
                                            <label id="txtStatus" style="line-height:25px"></label>
                                        </div>

                                    </div>*@
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-visit-label " style=""><strong>Visit Date Time :</strong> </label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 visit-date-div" id="txtVisitDate" style="">
                                        @*<label id="txtVisitDate" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-rtu-label" style=""><strong>Skip/RTU Reason: </strong></label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 skip-reason-div " id="txtReason" style="">
                                        @*<label class="col-lg-4" id="txtReason" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-cmnt-label" style=""><strong>Comment : </strong></label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 line-height-div" id="txtComment" style="">
                                        @*<label id="txtComment" style="line-height:25px"></label>*@
                                    </div>
                                </div>
                                <div class="form-group" id="divLocationGPS">
                                    <label for="name" class="col-lg-4 col-sm-4 col-xs-4 control-label skip-cmnt-label" style=""><strong>Location/GPS : </strong></label>
                                    <div class="col-lg-8 col-xs-8 col-sm-8 line-height-div"  style="">
                                        <a href="" id="txtlocationGPS" target='_blank'>Map</a><br />
                                        <span style='font-size:14px;' id="spnLocationGPS"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 btn-reopn" style="text-align:center;">
                                        <button class="btn btn-danger" id="btnClose" type="button">Close</button>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 container all-media-div">
                                <div class="">
                                    <ul class="nav nav-tabs report-modal-nav">
                                        <li class="active"><a style="" data-toggle="tab" href="#tabimage">Image</a></li>
                                        <li class=""><a data-toggle="tab" style="" href="#tabaudio">Audio</a></li>
                                        <li class=""><a data-toggle="tab" style="" href="#tabvideo">Video</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="tabimage" class="tab-pane fade in active">
                                            <h3 id="imagenotfound">Image not found</h3>
                                            <div class="col-lg-10 col-xs-10" id="divImage" style="position:relative">

                                                <a class="w3-btn-floating btn btn-success btnNextPreviousSkipRTU" style="position:absolute;top:45%;left:15px" onclick="plusDivs(-1)">❮</a>
                                                <a class="w3-btn-floating btn btn-success btnNextPreviousSkipRTU" style="position:absolute;top:45%;right:-57px" onclick="plusDivs(1)">❯</a>
                                            </div>
                                        </div>
                                        <div id="tabaudio" class="tab-pane fade">
                                            <h3 id="audionotfound">Audio not found</h3>
                                            <div id="divAudio" class="col-lg-10 col-xs-10" style="text-align: center;">
                                                <audio id="aT" controls="controls" class="skip-audio" style="width:300px;">
                                                    <source id="srcAudio" src="" type="audio/mp4">
                                                    Your browser does not support the audio tag.
                                                </audio>
                                            </div>
                                        </div>
                                        <div id="tabvideo" class="tab-pane fade">
                                            <h3 id="videonotfound">Video not found</h3>
                                            <div id="divVideo" class="col-lg-10 col-xs-10" style="text-align: center;">
                                                <div class="skip-video">
                                                    <video id="vT" width="300" height="300" controls="">
                                                        <source id="srcVideo" type="video/mp4" src="">
                                                        Your browser does not support the video tag.
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*</div>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/MSTS/admin/css/style-responsive.css" rel="stylesheet" />

<link href="~/Scripts/js/style.css" rel="stylesheet" />
@*<link href="~/Content/MSTS/admin/css/style-responsive.css" rel="stylesheet" />*@
<link href="~/Scripts/js/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/js/jquery-ui.js"></script>
<script src="~/Scripts/js/fieldChooser.js"></script>
<link href="~/Content/MSTS/admin/css/bootstrap-multiselect.css" rel="stylesheet" />
@*<script src="~/Content/MSTS/admin/js/bootstrap-multiselect.js"></script>*@
<script src="~/Scripts/bootstrap-multiselectReport.js"></script>

<link href="~/Scripts/js/multipleselectbox.css" rel="stylesheet" />
<script src="~/Scripts/js/jquery.multipleselectbox.js"></script>



<link href="@Url.Content("~/Content/MSTS/admin/chosenddl/chosen.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/MSTS/admin/chosenddl/chosen.jquery.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/chosenddl/chosen.proto.min.js")"></script>


<script src="~/Scripts/Admin/AuditorReports.js"></script>
