﻿@{
    ViewBag.Title = "Device";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("UrlCountryList", Url.Action("GetCountryList", "Device"))
@Html.Hidden("UrlStateList", Url.Action("GetStateList", "Device"))
@Html.Hidden("UrlStateByCoutryIDList", Url.Action("GetStateListByCountryID", "Device"))
@Html.Hidden("urlEditData", Url.Action("Create", "Device"))
@Html.Hidden("UrlDeviceList", Url.Action("GetDeviceList", "Device"))
@Html.Hidden("urlDeleteData", Url.Action("Delete", "Device"))
@Html.Hidden("urlDeActiveRecords", Url.Action("GetDeActiveRecords", "Device"))
@Html.Hidden("urlGetData", Url.Action("Edit", "Device"))

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching things...
        </p>
    </div>
</div>



<!-- page start-->


<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        <b>Device Master </b>

                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a class="btn btn-success" id="btnAddDevice" data-toggle="modal" data-backdrop="static" href="#myModal">
                                        Add New <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="col-sm-4 show_deactive">
                                    <input type="checkbox" name="showDeactivate" id="chkShowDeactivate" />Show Deactivated Records
                                </div>
                            </div>
                            <table id="dynamic-table" class="display table table-bordered table-striped dataTable" aria-describedby="dynamic-table_info">
                                <thead>
                                    <tr>
                                        <th width="55%">Device</th>
                                        <th width="30%">QR Code</th>
                                        <th width="5%">Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
<!-- Modal for Add /Edit Dialog -->
<div class="modal fade modal-dialog-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add New Device</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <form id="form3" class="cmxform form-horizontal tasi-form">

                            <div class="form-group">
                                <input type="hidden" name="DeviceId" id="txtDeviceId" />
                                <label for="name" class="col-lg-3">Device </label>  <span style="color:red">*</span>
                                <div class="col-lg-9">
                                    <input type="text" name="Device" id="txtDevice" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-lg-3">QR Code </label>  <span style="color:red">*</span>
                                <div class="col-lg-9">
                                    <input type="text" name="QRCode" id="txtQRCode" />
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="DeviceTypeId" id="txtDeviceTypeId" />
                                <label for="name" class="col-lg-3">Device Type</label>  <span style="color:red">*</span>
                                <div class="col-lg-9">
                                    <select id="ddlDeviceType" name="DeviceType" class="inputclass form-control"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="DeviceSizeId" id="txtDeviceSizeId" />
                                <label for="name" class="col-lg-3">Device Type</label>  <span style="color:red">*</span>
                                <div class="col-lg-9">
                                    <select id="ddlDeviceSize" name="DeviceSize" class="inputclass form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-lg-3">Description</label> <span style="color:red">*</span>
                                <div class="col-lg-9">
                                    <input type="text" name="Description" id="txtDescription" maxlength="50" class="inputclass form-control" />
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" class="btn btn-success" type="button">Save</button>
                    <button class="btn btn-danger" id="btnCancel" type="button">Cancel</button>
                    <button class="btn btn-default" id="btnReset" type="button">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<!-- Modal for deactivation -->
<div class="modal fade modal-dialog-center" id="confirmDeactivatedialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Default Modal Tittle</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="deactivationID" />
                    <p>Are you sure to deactivate this record ?</p>

                </div>
                <div class="modal-footer">
                    <button id="btnDeactivateYes" class="btn btn-success" type="button">Yes</button>
                    <button class="btn btn-danger" id="btnDeactivatNo" type="button">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<!-- Modal for confirmActivatedialog -->
<div class="modal fade modal-dialog-center" id="confirmActivatedialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content-wrap">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Default Modal Tittle</h4>
                </div>
                <div class="modal-body">


                    <input type="hidden" id="activationID" />
                    <p>Are you sure to Activate this record ?</p>


                </div>
                <div class="modal-footer">
                    <button id="btnActivateYes" class="btn btn-success" type="button">Yes</button>
                    <button class="btn btn-danger" id="btnActivatNo" type="button">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='@Url.Content("~/Scripts/Admin/DeviceMaster.js")'></script>