﻿@{
    ViewBag.Title = "ReportPDF";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutReport.cshtml";
}

<style>
    .pdfdiv {
        /*margin-right: -11px;
        margin-left: -13px;*/
        margin: 0 auto;
    }

    iframe {
        /*overflow:visible;*/
    }

    .wrapper {
        overflow: hidden;
    }

    @@media (max-width:320px) {
        .wrapper {
            margin-bottom: -1% !important;
            overflow: hidden;
            height: 46em !important;
        }

        iframe {
            height: 40em;
        }
    }

    @@media only screen and (min-width:321px)and (max-width:767px) {
        .wrapper {
            /*margin-bottom: 0% !important;*/
            overflow: hidden;
            height: 46.4em !important;
        }
    }
</style>

<section class="wrapper">
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading"></header>
                <div class="panel-body">
                    @*<div class="row">
                        <div class="form-group" style="text-align:right;margin-top: -20px;margin-right: 18px;">

                            <input type="button" value="Download" class="btn btn-success" onclick="location.href='@Url.Action("DownloadMultiSkippedRecords", "InstallerMapDataHistory", new { UploadID = @ViewBag.UploadID })'" />
                        </div>
                    </div>*@
                    <div class="row pdfdiv">
                        <iframe name="ifr" width="100%" id="pdfIframe" scrolling="auto" src="@Url.Action("ViewMultiSkippedRecords", "InstallerMapDataHistory", new { UploadID = @ViewBag.UploadID })" onload="resizeIframe(this)"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script language="javascript" type="text/javascript">
    function resizeIframe(obj) {
        var contentheight = (obj.contentWindow.document.body.scrollHeight + 5) + 'px';
        obj.style.height = contentheight
    }
</script>





