﻿@{
    ViewBag.Title = "Form";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*@Html.Hidden("CountryListUrl", Url.Action("GetCountryList", "Country"))
    @Html.Hidden("StateByCoutryIDListUrl", Url.Action("GetStateListByCountryID", "State"))
    @Html.Hidden("urlEditData", Url.Action("Create", "State"))
    @Html.Hidden("UrlStateList", Url.Action("GetStateList", "State"))
    @Html.Hidden("urlDeleteData", Url.Action("Delete", "State"))
    @Html.Hidden("urlDeActiveRecords", Url.Action("GetDeActiveRecords", "State"))
    @Html.Hidden("urlGetData", Url.Action("Edit", "State"))*@
@Html.Hidden("getPreviousRecordsPartial", Url.Action("getPreviousRecordsPartial", "Form"))
@Html.Hidden("getFormPartial", Url.Action("getFormPartial", "Form"))
@Html.Hidden("get_setField1Partial", Url.Action("get_setField1Partial", "Form"))
@Html.Hidden("GetProjectList", Url.Action("GetProjectList", "Form"))
@Html.Hidden("GetDynamicDivData", Url.Action("GetDynamicDivData", "Form"))
@Html.Hidden("GetFormListURL", Url.Action("GetFormList", "Form"))
@Html.Hidden("A_Or_D_FormRecordURL", Url.Action("A_Or_D_FormRecord", "Form"))

<style>
    .toast-top-center {
        margin-top: -50px;
    }
</style>

<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            Searching things...
        </p>
    </div>
</div>



<!-- page start-->


<section id="main-content" ng-controller="CreateCtrl">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading" style="padding-top:5px;">
                        <b>Form Management </b>

                    </header>
                    <div class="panel-body" id="divLandingPage" style="padding-top:10px;">

                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
   

<link href="~/Scripts/js/style.css" rel="stylesheet" />
<link href="~/Scripts/js/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/js/jquery-ui.js"></script>
<script src="~/Scripts/js/fieldChooser.js"></script>


<link href="~/Content/MSTS/admin/css/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/MSTS/admin/js/bootstrap-multiselect.js"></script>

<script src="~/Scripts/Admin/FormManagement.js"></script>