﻿
@*<link rel="shortcut icon" href="@Url.Content("~/Content/MSTS/img/faviconn.ICO")" type="image/x-icon">
<link rel="icon" href="@Url.Content("~/Content/MSTS/img/faviconn.ICO")" type="image/x-icon">
<link rel="shortcut icon" href="@Url.Content("~/Content/MSTS/img/faviconn.ICO")">*@
<!-- Bootstrap core CSS -->
<link href="@Url.Content("~/Content/MSTS/admin/css/bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/MSTS/admin/css/bootstrap-reset.css")" rel="stylesheet">
<!--external css-->

<link href="@Url.Content("~/Content/MSTS/admin/assets/font-awesome/css/font-awesome.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MSTS/admin/assets/gritter/css/jquery.gritter.css")" />

<link href="@Url.Content("~/Content/MSTS/admin/css/datetimepicker.css")"rel="stylesheet" />
<link href="@Url.Content("~/Content/MSTS/admin/css/datepicker.css")" rel="stylesheet" />





<!--dynamic table-->
<link href="@Url.Content("~/Content/MSTS/admin/assets/advanced-datatable/media/css/demo_page.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/MSTS/admin/assets/advanced-datatable/media/css/demo_table.css")" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~/Content/MSTS/admin/assets/data-tables/DT_bootstrap.css")" />


<link rel="stylesheet" href="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-timepicker/compiled/timepicker.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.css")" />
<link rel="stylesheet" href="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-daterangepicker/daterangepicker.css")" />






<link href="@Url.Content("~/Content/MSTS/admin/assets/toastr-master/toastr.css")" rel="stylesheet" />
<!--right slidebar-->
<link href="@Url.Content("~/Content/MSTS/admin/css/slidebars.css")" rel="stylesheet">

<link href="@Url.Content("~/dist/css/AdminLTE.min.css")" rel="stylesheet">

<link href="@Url.Content("~/dist/css/skins/_all-skins.min.css")" rel="stylesheet">




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />









<link href="@Url.Content("~/Content/MSTS/admin/css/tmm_form_wizard_style_demo.css")" rel="stylesheet">


<link href="@Url.Content("~/Content/MSTS/admin/css/tmm_form_wizard_layout.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/MSTS/admin/css/fontello.css")" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="@Url.Content("~/Content/MSTS/admin/css/style.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/MSTS/admin/css/style-responsive.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-colorpicker/css/colorpicker.css")" />
