﻿<script src="@Url.Content("~/Content/MSTS/admin/js/jquery.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery-ui-1.9.2.custom.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery-migrate-1.2.1.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/bootstrap.min.js")"></script>
<script class="include" type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/js/jquery.dcjqaccordion.2.7.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery.scrollTo.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/gritter/js/jquery.gritter.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery.sparkline.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Content/MSTS/admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>*@
<script src="@Url.Content("~/Content/MSTS/admin/js/owl.carousel.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery.customSelect.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/respond.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/js/jquery.pulsate.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/slidebars.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/sparkline-chart.js")"></script>
@*<script src="@Url.Content("~/Content/MSTS/admin/js/easy-pie-chart.js"></script>*@
<script src="@Url.Content("~/Content/MSTS/admin/js/count.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/spin.min.js")"></script>
<script src="@Url.Content("~/Content/MSTS/admin/assets/advanced-datatable/media/js/jquery.dataTables.js")"></script>

<script src="@Url.Content("~/Content/MSTS/admin/assets/data-tables/DT_bootstrap.js")">
</script>

<!--script for this page only-->
<script src="@Url.Content("~/Content/MSTS/admin/js/gritter.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/MSTS/admin/js/pulstate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/MSTS/admin/assets/toastr-master/toastr.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/ckeditor/ckeditor.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/fuelux/js/spinner.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-fileupload/bootstrap-fileupload.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-wysihtml5/wysihtml5-0.3.0.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-wysihtml5/bootstrap-wysihtml5.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-daterangepicker/moment.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-daterangepicker/daterangepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-timepicker/js/bootstrap-timepicker.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/jquery-multi-select/js/jquery.multi-select.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/jquery-multi-select/js/jquery.quicksearch.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/js/jquery.nicescroll.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-inputmask/bootstrap-inputmask.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-inputmask/bootstrap-inputmask.min.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>

<!--summernote-->
<script src="@Url.Content("~/Content/MSTS/admin/assets/summernote/dist/summernote.min.js")"></script>
<!--right slidebar-->
<script src="@Url.Content("~/Content/MSTS/admin/js/slidebars.min.js")"></script>
<!--this page  script only-->
<script src="@Url.Content("~/Content/MSTS/admin/js/advanced-form-components.js")"></script>

<!--custom switch-->
<script src="@Url.Content("~/Content/MSTS/admin/js/bootstrap-switch.js")"></script>
<!--custom tagsinput-->
<script src="@Url.Content("~/Content/MSTS/admin/js/jquery.tagsinput.js")"></script>
<!--custom checkbox & radio-->
<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/js/ga.js")"></script>


<script type="text/javascript" src="@Url.Content("~/Content/MSTS/admin/js/tmm_form_wizard_custom.js")"></script>


<!--script for this page-->
<script src="@Url.Content("~/Content/MSTS/admin/js/form-component.js")"></script>
@*<script src="@Url.Content("~/Content/MSTS/admin/js/advanced-form-components.js")"></script>*@

@*<script src="@Url.Content("~/dist/js/app.min.js")"></script>

<script src="@Url.Content("~/dist/js/demo.js")"></script>*@












<script type="text/javascript">
//<![CDATA[
    $(window).load(function () {
        $('#floor').droppable({
            tolerance: 'fit'
        });

        $('.draggable-div').draggable({
            revert: 'invalid',
            stop: function () {
                $(this).draggable('option', 'revert', 'invalid');
                $(this).find('.undo').show();
            }
        });

        $('.draggable-div').find('.undo').click(function (i, e) {
            var $div = $(this).parent();
            revertDraggable($div);
        });

        $('#floor').droppable({
            greedy: true,
            tolerance: 'touch',
            drop: function (event, ui) {
                // ui.draggable.draggable('option','revert',true);
                if (!ui.draggable.data("originalPosition")) {
                    ui.draggable.data("originalPosition",
                                      ui.draggable.data("draggable").originalPosition);

                }


                $(this).find('.undo').show();
            }
        });

        function revertDraggable($selector) {
            $selector.each(function () {
                var $this = $(this),
                    position = $this.data("originalPosition");

                if (position) {
                    $this.animate({
                        left: position.left,
                        top: position.top
                    }, 500, function () {
                        $this.data("originalPosition", null);
                    });
                }
            });

            $selector.find('.undo').hide();

        }
    });//]]>

</script>