@media (min-width: 980px) {
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) and (max-width: 979px) {

    .new_date {
        width: 150px;
        float: left;
    }
}


@media (max-width: 767px) and (max-width: 979px) {

    .navbar-collapse, .navbar-collapse.in, .mega-menu ul li a {
        width: 100%;
    }


    .mega-menu .navbar-nav {
        height: 100%;
    }

    .mega-bg {
        position: relative;
    }

    .mail-box .sm-side {
        width: 30%;
    }

    .mail-box .lg-side {
        width: 70%;
    }
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*chat room*/

    .chat-room aside {
        display: block;
    }

    .chat-room .left-side, .chat-room .mid-side, .chat-room .right-side, .chat-room .left-side footer {
        width: 100%;
    }

        .chat-room .left-side footer {
            position: relative;
        }

    ul.chat-user {
        margin-bottom: 20px;
    }

    .chat-room .left-side, .chat-room .mid-side {
        margin-bottom: 10px;
    }

        .chat-room .left-side .user-head, .chat-room-head, .chat-room .right-side .user-head {
            border-radius: 4px 4px 0 0;
            -webit-border-radius: 4px 4px 0 0;
        }

        .chat-room .left-side footer {
            border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
        }
    /**/
    .chat-room .right-side .user-head {
        float: left;
        width: 100%;
    }

    .chat-room .mid-side footer {
        position: relative;
        float: left;
        width: 100%;
        border-right: 0;
    }

    .chat-txt {
        width: 65%;
    }

    .chat-room .right-side footer {
        width: 100%;
        position: relative;
    }

    .chat-room .mid-side {
        margin-bottom: 0 !important;
    }
}
@media (max-width:320px){
   
}
@media (max-width: 768px) {

    .header {
        position: absolute;
    }

    /*sidebar*/


    #sidebar {
        display: none;
    }

    .sidebar-close #sidebar {
        height: auto;
        /*overflow: hidden;
           
        */
        overflow-y: auto;
        width: 100%;
        position: absolute;
        z-index: 1001;
        display: block;
    }

    #main-content {
        margin-left: 0px !important;
        position: none !important;
		/*padding-top: 150px;*/
        padding-top: 2%;
        
    }
    /* body container */
 

    .main-content {
        margin: 0px 0px 0px 0px !important;
        position: none !important;
    }


    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }

        #sidebar > ul > li > a {
            height: 35px;
            line-height: 35px;
            padding: 0 10px;
            text-align: left;
        }

            #sidebar > ul > li > a i {
                /*display: none !important;*/
            }

    .mail-info, .mail-info:hover {
        display: none !important;
    }

    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }

        #sidebar > ul > li > ul.sub > li > a {
            background: transparent !important;
        }

            #sidebar > ul > li > ul.sub > li > a:hover {
                /*background: #4A8BC2 !important ;*/
            }


    /* sidebar */
    #sidebar {
         /*margin: 65px 0px 0px 0px !important;*/
        margin: 65px 0px 0px 0px;
           
    }

        /* sidebar collabler */
        #sidebar .btn-navbar.collapsed .arrow {
            display: none;
        }

        #sidebar .btn-navbar .arrow {
            position: absolute;
            right: 35px;
            width: 0;
            height: 0;
            top: 48px;
            border-bottom: 15px solid #282e36;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }


    /*---------*/

    .modal-footer .btn {
        margin-bottom: 0px !important;
    }

    .btn {
    }

    .stepwizard-step-circle {
        display: block;
        background: #eee;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #d5d5da;
        margin: 3% 10% 6% 12% !important;
        float: left;
    }





    .stepwizard-row::before {
    top: 41px;
    bottom: 0;
    position: relative;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #f5f5f5;
    z-index: 0;
    position: absolute;
    height: 6px;
    border-right: none;
    border-radius: 0;
    border: 1px solid #d5d5da;
    left: 0;
        display: none !important;
}




    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side, .mail-box .lg-side {
        width: 100%;
    }

    /* full calendar fix */
    .fc-header-right {
        left: 25px;
        position: absolute;
    }

    .fc-header-left .fc-button {
        margin: 0px !important;
        top: -10px !important;
    }

    .fc-header-right .fc-button {
        margin: 0px !important;
        top: -50px !important;
    }

    .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
        background: none !important;
        color: #FFFFFF !important;
    }

    .fc-state-default, .fc-state-default .fc-button-inner {
        background: none !important;
    }

    .fc-button {
        border: none !important;
        margin-right: 2px;
    }

    .fc-view {
        top: 0px !important;
    }

    .fc-button .fc-button-inner {
        margin: 0px !important;
        padding: 2px !important;
        border: none !important;
        margin-right: 2px !important;
        background-color: #fafafa !important;
        background-image: -moz-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef)) !important;
        background-image: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -o-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: linear-gradient(to bottom, #fafafa, #efefef) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0) !important;
        -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
        color: #646464 !important;
        border: 1px solid #ddd !important;
        text-shadow: 0 1px 0px rgba(255, 255, 255, .6) !important;
        text-align: center;
    }

    .fc-button.fc-state-disabled .fc-button-inner {
        color: #bcbbbb !important;
    }

    .fc-button.fc-state-active .fc-button-inner {
        background-color: #e5e4e4 !important;
        background-image: -moz-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e4e4), to(#dddcdc)) !important;
        background-image: -webkit-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -o-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: linear-gradient(to bottom, #e5e4e4, #dddcdc) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0) !important;
    }

    .fc-content {
        margin-top: 50px;
    }

    .fc-header-title h2 {
        line-height: 40px !important;
        font-size: 12px !important;
    }

    .fc-header {
        margin-bottom: 0px !important;
    }

    /*--*/

    /*.chart-position {*/
    /*margin-top: 0px;*/
    /*}*/

    .timeline-desk .album a {
        margin-bottom: 5px;
        margin-right: 4px;
    }

    .stepy-titles li {
        margin: 10px 3px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .boxed-page .container #sidebar {
        position: absolute;
    }

    /*--horizontal menu--*/
    .full-width .navbar-toggle {
        border: 1px solid #eaeaea;
    }

        .full-width .navbar-toggle .icon-bar {
            background: #c7c7c7;
        }

    .full-width .navbar-toggle {
        float: left;
        margin-top: 12px;
    }

    .horizontal-menu {
        float: left;
        margin-left: 0px;
        width: 70%;
        margin-top: 10px;
    }

    .top-nav {
        right: 10px;
        top: 0px;
    }

    .horizontal-menu .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*menu icon plus minus*/
    .dcjq-icon {
        top: 10px;
    }

    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }

    /*---*/

    .img-responsive {
        width: 100%;
    }
}



@media (max-width: 480px) {

    .navbar-collapse, .navbar-collapse.in, .mega-menu ul li a {
        width: 100%;
    }

    .mega-menu .navbar-nav {
        height: 100%;
    }

    .mega-bg {
        position: relative;
    }

    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side, .mail-box .lg-side {
        width: 100%;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
        width: 60%;
    }

    .dataTables_info {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
        margin-top: 0px;
    }
    /*--horizontal menu--*/
    .full-width .navbar-toggle {
        border: 1px solid #eaeaea;
    }

        .full-width .navbar-toggle .icon-bar {
            background: #c7c7c7;
        }

    .full-width .navbar-toggle {
        float: left;
        margin-top: 12px;
    }

    .horizontal-menu {
        float: left;
        margin-left: 0px;
        width: 100%;
    }

    .top-nav {
        position: relative;
        right: 10px;
        top: 0px;
    }

    .horizontal-menu .navbar-nav > li > a {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .ms-container {
        width: 100%;
    }

    .cmt-form {
        display: inline-block;
        width: 84%;
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color: #ccc;
    }

    /*chat room*/

    .chat-room aside {
        display: block;
    }

    .chat-room .left-side, .chat-room .mid-side, .chat-room .right-side, .chat-room .left-side footer {
        width: 100%;
    }

        .chat-room .left-side footer {
            position: relative;
        }

    ul.chat-user {
        margin-bottom: 20px;
    }

    .chat-room .left-side, .chat-room .mid-side {
        margin-bottom: 10px;
    }

        .chat-room .left-side .user-head, .chat-room-head, .chat-room .right-side .user-head {
            border-radius: 4px 4px 0 0;
            -webit-border-radius: 4px 4px 0 0;
        }

        .chat-room .left-side footer {
            border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
        }

    /**/
    .chat-room .right-side .user-head {
        width: 100%;
        float: left;
    }

    .chat-room .mid-side footer {
        position: relative;
        float: left;
        width: 100%;
        border-right: 0;
    }

    .chat-txt {
        width: 65%;
    }

    .chat-room .right-side footer {
        width: 100%;
        position: relative;
    }

    .chat-room .mid-side {
        margin-bottom: 0 !important;
    }

    .form-signin p {
        text-align: left;
        color: #000;
        font-size: 21px;
        font-weight: bold;
        padding-left: 25px;
        margin-bottom: 10px;
    }


    .footer_smalllogo_login {
        position: absolute;
        width: 100%;
        bottom: auto;
        text-align: center;
        z-index: 4;
        background-color: #FFF;
    }
   

    .stepwizard-step-circle {
        display: block;
        background: #eee;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #d5d5da;
        margin: 5% 10% 10% 20% !important;
        float: left;
    }

    .stepwizard-row:before {
        display: none !important;
    }


    ul.sidebar-menu {
        margin-top: 175px !important;
    }



    .form-inline_top {
        float: right !important;
        margin-top: 4% !important;
        width: 94% !important;
    }

    .status_top {
        width: 40% !important;
        float: left !important;
        margin: 0px 14px !important;
    }


    .project_top {
        width: 89% !important;
        float: left !important;
        margin: 5px 14px 8px 14px !important;
    }

    .main-content {
        margin: 0px 0px 0px 0px !important;
        position: none !important;
        padding-top: 140px;
    }
}

@media (max-width:481px) {


    .form-inline_top {
        float: right !important;
        margin-top: 4% !important;
        width: 94% !important;
		margin-bottom: 10px;
    }

    .status_top {
        width: 100% !important;
        margin: 0px !important;
    }


    .project_top {
        width: 89% !important;
        /*float: left !important;
        margin: 5px 14px 8px 14px !important;*/
        margin: 6px -10px 8px !important;
        width: 150% !important;
    }



    .md {
        padding-left: 0px;
    }
}


@media (max-width:767px) {


    .form-inline_top {
        float: right;
        margin-top: 1%;
        width: 100%;
    }

    /*new css*/
    .top-menu {
        margin-right: 7px;
        margin-top: 5px;
    }

    .status_top {
        padding-right: 13px;
        margin: 8px -7px;
    }


    .project_top {
        float: left;
        /*width: 27%;      
        margin: 0px 12px 8px;*/
        margin-left: -2px;
        margin-top: 15px;
        width: 33%;
    }

    .md {
        padding-left: 0px;
    }
    /*.status_label{
        padding-top:0.73em;
        margin-left:-3.5px;

    }*/
    .form-inline_top .control-label {
        padding-left: 1px;
    }

    .map_align {
        margin-left: 0em;
}

    .map_flow {
        padding-left: 0px;
    }
}



/*************************************sidebar css**********************/
@media (max-width:320px) {
    .header {
        height:21% ;
    }
    #sidebar {
        margin-top: -32% !important;
        height:auto;
    }
}
@media only screen and (min-width:320px) and (max-width:360px) {
     .header {
        height:10% important;
    }
    #sidebar {
   margin-top:-31% !important;
   }

}
@media only screen and (min-width:361px) and (max-width:429px) {
     .header {
        height:10% important;
    }
    #sidebar {
   margin-top:-22% !important;
   }

}
@media only screen and (min-width:430px) and (max-width:599px) {
     .header {
        height:10% important;
    }
    #sidebar {
   margin-top:0% !important;
   }
}
@media only screen and (min-width:600px) and (max-width:640px) {
    .header{
 height:8% !important;
 }
     #sidebar {
   margin-top:0% !important;
   }

  @media only screen and (min-width:641px) and (max-width:767px) {
    .header {
        height:10% important;
    }
 #sidebar {
   margin-top:0% !important;
   }
}

}


@media (max-width:320px) {
    .login-social-link a {
        padding: 15px 17px !important;
    }

    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side, .mail-box .lg-side {
        width: 100%;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .dataTables_filter {
        float: left;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .mail-option .btn {
        margin-bottom: 0;
    }

    .mail-option .inbox-pagination {
        margin-top: 10px;
        float: left;
    }

    .chart-position {
        margin-top: 0px;
    }

    .lock-wrapper {
        margin: 10% auto;
        max-width: 310px;
    }

    .lock-input {
        width: 82%;
    }

    .cmt-form {
        display: inline-block;
        width: 75%;
    }

    .chat-room .mid-side footer .btn-group {
        display: none;
    }

    .stepy-titles li.current-step div, .stepy-titles li div {
        width: 70px;
        height: 70px;
        line-height: 70px;
    }

    .form-signin p {
        text-align: left;
        color: #000;
        font-size: 21px;
        font-weight: bold;
        padding-left: 25px;
        margin-bottom: 10px;
    }

    .main-content {
        margin: 0px 0px 0px 0px !important;
        position: none !important;
        padding-top: 140px;
    }




    .footer_smalllogo_login {
        position: absolute;
        width: 100%;
        bottom: auto;
        text-align: center;
        z-index: 4;
        background-color: #FFF;
    }

    .md {
        padding-left: 0px;
    }

    .header {
        height: 5em !important;
    }
	
	.main-content {
    margin: 0px 0px 0px 0px !important;
    position: none !important;
}
}


 

@media only screen and (min-width: 320px) and (max-width: 480px) {
     .header {
        
        /*height: 12% ;*/
    }
    
    
   #main-content {
        padding-top: 6% !important;
}
    .md {
        padding-left: 0px;
    }
     
    .main-content {
        margin: 0px 0px 0px 0px !important;
        position: none !important;
        padding-top: 140px;
    }


      .dataTables_info {
        width: 100%;
        margin: auto;
        text-align: center;
}



      .dataTables_paginate.paging_bootstrap.pagination {
    margin-top: -5px;
    margin-bottom: 15px;
        width: 80% !important;
        margin: auto;
}

      .dataTables_length {
    width: 35%;
    float: left;
}

      .dataTables_filter {
    float: left;
    width: 61%;
    text-align: center;
}


 .dataTables_filter label input {
    width: 100%;
}

    #dynamic-tableCategory_wrapper {
        width: 245px !important;
    }


.modal-dialog {
    margin: 10px 18px;
    position: relative;
    width: auto;
}
}

@media only screen and (min-width:640px) and (max-width:640px) {
    .wrapper {
        display: inline-block;
        margin-top: 86px;
        padding: 15px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .form-inline_top {
        float: right;
        margin-top: 5px;
    }

    .status_top {
        float: left;
        /*width: 27%;       
        margin: 0px 14px;*/
        margin-left: -7px;
        margin-right: 2px;
        margin-top: 15px;
        width: 34%;
    }
}

@media (max-device-width:480px) and (orientation:landscape) {

    .form-group {
        margin-bottom: 0px !important;
    }

    .form-inline_top {
        margin-top: 1% !important;
    }

    control-label {
        margin-top: 1px !important;
    }

    .header {
        height: 9em !important;
    }

    .white-bg {
        height: 9em;
    }

    .form-inline_top {
        float: right;
        margin-top: 5px;
    }

    .status_top {
        width: 32% !important;
        float: left;
        margin: 0px 14px !important;
    }


    .project_top {
        width: 32% !important;
        float: left;
        margin: 0px 12px 8px !important;
    }
	
	
	.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px 67px;
}
}

@media only screen and (min-width:430px) and (max-width:767px) {
    .header {
        /*height: 9em !important;*/
        /*height: 21%;*/
    }
	
	#main-content {
   margin: 0px 0px 0px 0px !important;
position: none !important;
/*padding-top: 4% !important;*/
}


    .stepwizard-step-circle {
    display: block;
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    margin: 3% 11% 6% 13% !important;
    float: left;
}
}

@media only screen and (min-width:600px) and (max-width:640px) {

   .header {
        /*height: 9em !important;*/
        height: 21% ;
    }

    #main-content {
    padding-top:3% !important;
    }
}


/*@media only screen (min-width:767px) and (max-width:799px) {

  .status_top {
    float: none;
    margin-left: -26px !important;
    padding-left: 133px !important;
    }
    .form-control {
    width:10%;
    }
}*/


@media only screen and (min-width:800px) and (max-width:820px) and (orientation:landscape) {
    .status_top {
        float: none;
        /*margin-right: -19px !important;*/
        padding-left: 46px !important;
    }

    .project_top {
        width: 30% !important;
        float: left;
        margin: 0px 12px 8px !important;
    }


     .stepwizard-step-circle {
    display: block;
    background: #eee;
    width: 40px; 
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    margin: 3% 10% 6% 14% !important;
    float: left;
}

     .stepwizard-row::before {
        display: none !important;
}


     .multiselect {
        width: 556px !important;
        padding: 3px;
    }
}








/*@media (max-width: 769px) and (max-width: 979px) {

       .form-inline_top .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        width:20%;
        padding-left:15em;
    }

        .form-inline_top {
            float: right !important;
            margin-top: 10px !important;
        }
        #sidebar{
            margin-top:20px !important;
        }
    }*/

@media only screen and (min-device-width: 980px) and (max-device-width:1024px) {
    .form-inline_top .form-group {
        display: inline-block !important;
        margin-bottom: 0 !important;
        vertical-align: middle !important;
        width: 20% !important;
        padding-left: 25em !important;
    }

    .form-inline_top {
        float: right !important;
        margin-top: 5px !important;
    }

    .status_top {
        float: none;
        margin-left: -26px !important;
        padding-left: 133px !important;
    }

    .form-control {
        width: 10%;
    }
}

@media (min-device-width:800px) and (max-device-width:801px)and (orientation:landscape) {
    .form-inline_top {
        display: inline-block !important;
        margin-bottom: 0 !important;
        padding-left: 1em !important;
        vertical-align: middle !important;
        width: 32% !important;
    }

    .form-inline_top {
        float: none !important;
        margin-top: 5px !important;
    }

    .form-inline_top {
        float: right;
        margin-top: 5px;
        width: 101.4%;
    }
}

@media only screen (min-width:767px) and (max-width:799px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-control-static {
        display: inline-block;
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
            width: auto;
        }

        .form-inline .input-group > .form-control {
            width: 100%;
        }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .checkbox, .form-inline .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .form-inline .checkbox label, .form-inline .radio label {
            padding-left: 0;
        }

        .form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
            position: relative;
            margin-left: 0;
        }

    .form-inline .has-feedback .form-control-feedback {
        top: 0;
    }



    .form-inline_top .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        width: 32%;
        padding-left: 10em;
    }

    .form-inline_top .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline_top .form-control-static {
        display: inline-block;
    }

    .form-inline_top .input-group {
        display: inline-table;
        vertical-align: middle;
    }

        .form-inline_top .input-group .form-control, .form-inline_top .input-group .input-group-addon, .form-inline_top .input-group .input-group-btn {
            width: auto;
        }

        .form-inline_top .input-group > .form-control {
            width: 100%;
        }

    .form-inline_top .control-label {
        margin-bottom: 0;
        vertical-align: middle;
        padding-left: 1px;
    }

    .form-inline_top .checkbox, .form-inline_top .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

        .form-inline_top .checkbox label, .form-inline_top .radio label {
            padding-left: 0;
        }

        .form-inline_top .checkbox input[type=checkbox], .form-inline_top .radio input[type=radio] {
            position: relative;
            margin-left: 0;
        }

    .form-inline_top .has-feedback .form-control-feedback {
        top: 0;
    }






    /*.status_top {
    float: none;
    margin-left: -26px !important;
    padding-left: 133px !important;
    }*/
}






@media (min-width:768px) {

    .status_top {
        padding-left: 11em;
    }

    .top-menu {
        margin-right: 5px;
        margin-top: 5px;
    }
    

    .con_fluid_new {
        margin-left: 37px;
    margin-right: -64px;
        margin-top: -14px;
}
}

@media (min-width:1024px) {

    .status_top {
        padding-left: 16em;
    }

    .top-menu {
        margin-right: 5px;
        margin-top: 5px;
    }
}

@media (min-width:1100px) {

    .status_top {
        padding-left: 31em;
    }

    .top-menu {
        margin-right: 24px;
        margin-top: 7px;
    }
}





@media only screen and (min-width:768px) and (max-width:1024px) {
    
	


    .stepwizard-step-circle {
    display: block;
    background: #eee;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
    margin: 3% 10% 6% 14% !important;
    float: left;
}

    .stepwizard-row::before {
        display: none !important;
    }
	
	 /*.multiselect {
        width: 117px !important;
        padding: 3px;
    }*/
}

/**************************************Footer******************************/
@media only screen and (min-width:320px) and (max-width:420px) {
    footer > p{
        width:49% !important;
    }

}
@media only screen and (min-width:421px) and (max-width:599px) {

     footer > p{
        width:28% !important;
    }

}
@media only screen and (min-width:651px) and (max-width:767px) {

     footer > p{
        width:23% !important;
    }
     .frgt_pswd {
   margin-top: 2% !important;
    width: 43% !important;

}
/**********************************Reports Page CSS *****************************/
@media (max-width:320px){

}

@media only screen and (min-width:320px) and (max-width:420px) {
.rep_panel {
    margin-top:10px;
}
.box6{
line-height: 3;
    margin-left: 10px;
    margin-top: -18px;
}

.box7{
    line-height: 3;
    margin-left: 10px;
}
/*dyanamic Button*/

.multiselect_rep{
    width: 20em !important;
}
.allocation_rep {
    width: 95%;
}
.rep_date {
    padding-top: 10px;
    width: 11.3em;
}
.rep_srch{
   margin-left: 0;
}
    #ui-datepicker-div {
    margin-top:20em;
    
    }
.rep_srch > .btn-success{
    margin-left: 37px;
}
.rep_srch >.btn-danger{
  margin-left: -16em;
    margin-top: 0;
}

/*Select all btn*/
.rep_selcall_btn{
    margin-left:-14px;
}

.report_table{
    margin-top:-32px;
}
.dynamic_panel{

    margin-top:-6px;
}
.rep_dyn_table{

}
/*.open > .dropdown-menu{

    min-width:60%;
}*/

/*Create Report Page CSS*/
.create_rep_pro{
    margin-left:-13px;
}
.create_rep_inst{
    padding-left: 32px;
}
.create_rep_frmnm{
    padding-left: 60px;
}

/*Bootstrap Pagination*/
.dataTables_paginate.paging_bootstrap.pagination{
    width:100%;
}

/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 1px;
    margin-right:3px;
}
.rep_btn_primary{
   margin-left: 1px;
    margin-right:3px;
}
/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

    float: none !important;
    margin-left: -211px !important;
    margin-top: -8px;
    padding: 0 !important;
}
.multiselect-container{

}
.open > .dropdown-menu{
    min-width: 40%;
    padding-right: 28px;
}
.multiselect-container > li{
    width:112%;
}

}

@media only screen and (min-width:421px) and (max-width:500px) {
    .rep_panel{
   margin-top:3em;
   margin-bottom: -2px;
}
.rep_header{
   margin-left: -9px;
    margin-right: -9px;
    margin-top: 34px;
}
.box6{
 line-height: 3;
    margin-left: -12px;
    margin-top: -1.5em;
}

.box7{
   line-height: 3;
    margin-left: -12px;
  
}
/*dyanamic Button*/
.for_btn{
   margin-right: -4em;
}
  #ddlInstaller > .drop_menu_new {
      min-width:100%;
  }
.multiselect_rep{
  width: 100% !important;  
}
.allocation_rep {
  width: 18em;
}
.rep_date {
margin-left: 5px;
    margin-top: 14px;
    padding-left: 2px !important;
    width: 9em !important;
}
.rep_todate{
    margin-left: 0px;
}
.rep_srch{
  margin-left: 2em;
    margin-top: 3px;
}


#ui-datepicker-div {
   margin-top:16.1em;
    
    }
.rep_srch > .btn-success{
    width: 6em;
}
.rep_srch >.btn-danger{
margin-left: 11px;
    width: 6em;
}

/*Select all btn*/
.rep_selcall_btn{
    
}

.report_table{
    
}


/*Drop-down menu*/
#ddlClient>.drop_menu_new{

    min-width:60%;
}
/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 2px;
    margin-right: 2px;
}
.rep_btn_primary{
   margin-left: 2px;
    margin-right: 2px;
}
/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

   margin-left: -169px !important;
    margin-top: -11px;
}

}

@media only screen and (min-width:501px) and (max-width:640px) {

  .rep_panel{
   margin-top:3em;
}
.rep_header{
   margin-left: 0px;
    margin-right: 0px;
}
.box6{
 line-height: 3;
    margin-left: -3px;
    margin-top: -1.5em;
    padding-right: 4em;
}

.box7{
  line-height: 3;
    margin-left: -3px;
    margin-top: -8px;
    padding-right: 4em;
  
}
/*dyanamic Button*/
.for_btn{
   margin-right: 0em;
}
  #ddlInstaller > .drop_menu_new {
      min-width:100%;
  }
.multiselect_rep{
  width: 100% !important;  
}
.allocation_rep {
  width: 22em;
}
.rep_date {
 margin-left: 11px;
    
    padding-left: 9px !important;
    width: 10em !important;
    margin-top:13px;
}
.rep_todate{
    margin-left: 0px;
}

#ui-datepicker-div {
   
    
    }
.rep_srch{
  margin-left: 19px;
}
.rep_srch > .btn-success{
    width: 8em;
}
.rep_srch >.btn-danger{
margin-left: 3.4em;
    width: 8em;
}

/*Select all btn*/
.rep_selcall_btn{
    
}

.report_table{
    
}


/*Drop-down menu*/
#ddlClient>.drop_menu_new{

    min-width:60%;
}

/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 2px;
    margin-right: 2px;
}
.rep_btn_primary{
   margin-left: 2px;
    margin-right: 2px;
}
/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

    margin-left: -219px !important;
    float:none !important;
    padding:0px !important;
    margin-top:-8px;
   
}

}

@media only screen and (min-width:768px) and (max-width:798px) {
.rep_panel{
  margin-top: 15px;
}
.rep_header{
   margin-left: -6px;
    margin-right: -12px;
}
.box6{
  margin-left:-9px;
  margin-top:-16px;
}

.box7{
 margin-left: -9px;

}
/*dyanamic Button*/
.for_btn{
   margin-right: -180px !important;
}
  #ddlInstaller > .drop_menu_new {
      min-width:100%;
  }
.multiselect_rep{
  width: 100% !important;  
}
.allocation_rep {
  width: 11em;
}
.rep_date {
 margin-left: -1px;
    width: 7.6em;
}
.rep_todate{
   margin-left:-11px; 
}
.rep_srch{
margin-left: 0 !important;
    margin-top: 6px;
}

.rep_srch > .btn-success{
    width:5.5em;
}
.rep_srch >.btn-danger{
margin-left: 14px;
    width: 5.5em;
}

/*Select all btn*/
.rep_selcall_btn{
    
}

.report_table{
    
}

/*Drop-down menu*/
#ddlClient>.drop_menu_new{

    min-width:70%;
}

#ui-datepicker-div {
     
}

/*Reports Dyanamic Table CSS*/
.rep_dyn_table{

}
/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 2px;
    margin-right: 2px;
}
.rep_btn_primary{
   margin-left: 2px;
    margin-right: 2px;
}
/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

    margin-left: -113px !important;
    float: none !important;
    padding-left: 0px !important;
}


}

@media only screen and (min-width:799px) and (max-width:850px) {
.rep_wrap{
    
}
    .rep_panel{
   margin-left: -8px;
    width: 103%;
   
}
.rep_header{
    width: 101%;
}
.box6{
   margin-left: -2px;
    margin-right: -27em;
    margin-top:-12px;
}

.box7{
   margin-left: -2px;
    margin-right: -27em;
}
/*dyanamic Button*/
.for_btn{
   margin-right: -12px;
}
  #ddlInstaller > .drop_menu_new {
      min-width:100%;
  }
.multiselect_rep{
  width: 98% !important;  
}
.allocation_rep {
  width: 21em;
}
.rep_date {
   width: 7.6em !important;
   font-size:14px;
   margin-left: -10px;
}
.rep_todate{
    margin-left: 87px;
    margin-top: -22px;
}
.rep_srch{
  margin-top: 6px;
  margin-top: 6px;
}


#ui-datepicker-div {
   
    
    }
.rep_srch > .btn-success{
    width: 6.5em;
}
.rep_srch >.btn-danger{
  margin-left: 59px;
    width: 6em;
}

/*Select all btn*/
.rep_selcall_btn{
    
}

.report_table{
    
}


/*Drop-down menu*/
    .drp_dwn_rep {
        width:50% !important;
    }
.open >.drp_dwn_rep{

   
}

/*Reports Dyanamic Table CSS*/

.rep_dyn_table{

}
/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 2px;
    margin-right: 2px;
}
.rep_btn_primary{
   margin-left: 2px;
    margin-right: 2px;
}
/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

    margin-left: -113px !important;
    float: none !important;
    padding-left:0px !important;
}
}

@media only screen and (min-width:1024px) and (max-width:1100px){

       .rep_panel{
   margin-top: 16px;
  
}
.rep_header{
    /*width: 101%;*/
}
.box6{
  margin-left: -4px;
    margin-right: -27em;
    margin-top:-11px;
}

.box7{
   margin-left: -4px;
    margin-right: -27em;
}
/*dyanamic Button*/
.for_btn{
   margin-right: 1.5em;
}

  #ddlInstaller > .drop_menu_new {
      min-width:100%;
  }
.multiselect_rep{
  width: 100% !important;  
}
.allocation_rep {
  width: 16em;
}
.rep_date {
  margin-left: -7px;
    padding-left: 5px;
    width: 8em !important;
}
.rep_todate{
    margin-left: 87px;
    margin-top: -22px;
}
.rep_srch{
  margin-top: 6px;
}


#ui-datepicker-div {
   
    
    }
.rep_srch > .btn-success{
    width: 6em;
}
.rep_srch >.btn-danger{
 margin-left: 35px; 
    width: 6em;
}

/*Select all btn*/
.rep_selcall_btn{
    
}

.report_table{ 
    
}
 

/*Drop-down menu*/
#ddlClient>.drop_menu_new{

    min-width:60%;
}
/*Action Button*/
/*Report JS- dyanamic class created for Action*/
.rep_btn_danger{
    margin-left: 2px;
    margin-right: 2px;
}
.rep_btn_primary{
   margin-left: 2px;
    margin-right: 2px;
}

/*Select Project glyphicon glyphicon-search icon*/
.input-group-addon1{

    margin-left: -142px !important;
}

.mod_search{
    margin-right:-14px;
}

}
/**********************End Report CSS *********************************************/

 /*********************Meter Make CSS*********************************************/
        @media screen and (max-width:320px) {
         .metrmke_dialog {
           margin-left: -32%;
            margin-right: -26%;
        }
         .deact_mter{
            margin-left: -33%;
            width: 161% !important;
         }

        }
    @media only screen and (min-width:320px) and (max-width:420px) {

        .meter_header {
            margin-top: 6px;
        }

        .metrmke_dialog {
            
            margin-left: 4px !important;
        }
    }

    @media only screen and (min-width:421px) and (max-width:500px) {

        .meter_header {
            padding-top: 26px;
        }

        .metrmke_dialog {
            overflow-y: hidden !important;
            height: 15em !important;
        }

        .meter_txt {
            margin-left: -188px;
            margin-top: 15px;
        }

        .des_txt {
            margin-left: -195px;
            margin-top: 15px;
        }

        .meter_txtbox {
            margin-top: 14px;
        }

        .des_txtbox {
            margin-top: 14px;
        }

        .deact_mter {
            height: 11em !important;
            margin-left: 5em;
            margin-top: -1em;
        }
    }
    @media only screen and (min-width:501px)and (max-width:568px) {
    .deactivated_records {
          padding-left: 29% !important;
             
        }
    .meter_header{
        margin-top:0%;
    }
    .metrmke_dialog{
      
    }
}

    @media only screen and (min-width:569px) and (max-width:640px) {
        .meter_header {
            padding-top: 26px;
        }

        .metrmke_dialog {
            overflow-y: hidden;
            margin-left: 3em;
            margin-top: -6.6em;
        }

        .meter_txt {
            margin-left: -212px;
            margin-top: 15px;
        }

        .des_txt {
            margin-left: -220px;
            margin-top: 14px;
        }

        .meter_txtbox {
            margin-top: 14px;
        }

        .des_txtbox {
            margin-top: 14px;
        }
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
        .meter_header {
            margin-top: 6px;
        }

        .metrmke_dialog {
            margin-left: 5em;
            margin-right: -7em;
            margin-top: -26.1em;
        }
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
        .meter_header {
            margin-top: 6px;
        }

        .metrmke_dialog {
            margin-left: 5em;
            margin-right: -9em;
            margin-top: -4em;
        }
    }
@media only screen and (min-width:968px)and (max-width:1023px) {
    .metrmke_dialog{
           width:125%;
           margin-top: -136%;.
        }
    .meter_txt{
        margin-left: -80%;
    }
     .des_txt {
           margin-left: -83%;
        }

        .meter_txtbox {
           float: right;
    margin-left: 1px !important;
    margin-right: -1em;
    margin-top: -2px !important;
    width: 81% !important;
        }

        .des_txtbox {
            margin-right: -5% !important;
            width: 81% !important;
        }
}

    @media only screen and (min-width:1024px) and (max-width:1100px) {
        .meter_header {
            margin-top: 6px;
        }

        .metrmke_dialog {
            margin-left: 3em;
            margin-right: -11em;
            margin-top: -16.2em;
        }
    }
@media only screen and (min-width:1281px)and (max-width:1350px) {

 
}
   

    /****************************************END Meter Make CSS ******************************************************/


     /******************************Picture page CSS ****************************************************************/


    @media only screen and (min-width:320px) and (max-width:420px) {
        .pic_dialog {
        }
    }

    @media only screen and (min-width:421px) and (max-width:500px) {
        .pic_dialog {
           height: 4% !important;
    margin-left: 4%;
    margin-right: 36%;
    width: 100%;
        }
    }

    @media only screen and (min-width:501px) and (max-width:640px) {
        .pic_dialog {
            width: 27em;
        }
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
    }

    @media only screen and (min-width:1024px) and (max-width:1100px) {
    }

    @media (min-width:1201px) {
    }

    /*************************************    Edit User Page (dialog form) *******************************************/

    @media only screen and (min-width:320px) and (max-width:420px) {
        /*Records per page text*/
        div.dataTables_length label {
            white-space: normal !important;
        }

        .edt_usr_modal {
            margin-left: 0;
            width: 100% !important;
            margin-bottom: 6px;
            height: 33em;
            overflow-y: scroll;
        }

        .usr_header {
            position: fixed;
            z-index: 9999999;
            width: 94%;
        }

        .usr_nm {
            margin-bottom: 5px !important;
            margin-top: 23px;
        }

        .usr_pswd {
            margin-bottom: 5px !important;
        }

        .usr_addr {
            margin-bottom: 5px !important;
        }

        .usr_mob {
            margin-bottom: 5px !important;
        }

        /*Label class name*/
        .edt_nm {
            padding-bottom: 1px;
            margin-left: 1px;
        }

        .edt_log {
            padding-top: 6px;
            margin-left: 1px;
        }

        .edt_pswd {
            padding-bottom: 1px;
            margin-left: 1px;
        }

        .edt_repswd {
            padding-top: 6px;
            margin-left: 1px;
        }

        .edt_addr {
            padding-bottom: 1px;
            margin-left: 1px;
        }

        .edt_email {
            padding-top: 6px;
            margin-left: 1px;
        }

        .edt_mob {
            padding-bottom: 1px;
            margin-left: 1px;
        }

        .edt_rle {
            padding-top: 6px;
            margin-left: 1px;
        }

        .allocation_usr {
            width: 52%;
        }
/*Deactivate pop up for user*/
        .usr_deact_mter{
            
        }    

    }

    @media only screen and (min-width:421px) and (max-width:500px) {
        .edt_usr_modal {
            margin-left: -27px;
            width: 126%;
        }

        .usr_nm {
        }

        .usr_pswd {
        }

        .usr_addr {
        }

        .usr_mob {
        }


        /****Fields class *****/
        .nm_txt {
            margin-left: -24px;
        }

        .log_txt {
        }

        .pswd_txt {
            margin-left: -26px;
        }

        .repswd_txt {
        }

        .adddr_txt {
            margin-left: -26px;
        }

        .mail_txt {
        }

        .mob_txt {
            margin-left: -26px;
        }

        .rle_txt {
        }

        /*Label class name*/
        .edt_nm {
            margin-left: -119px;
        }

        .edt_log {
            margin-left: -82px;
        }

        .edt_pswd {
            margin-left: -97px;
        }

        .edt_repswd {
            margin-left: -15px;
        }

        .edt_addr {
            margin-left: -118px;
        }

        .edt_email {
            margin-left: -85px;
        }

        .edt_mob {
            margin-left: -89px;
        }

        .edt_rle {
            margin-left: -104px;
        }

        .allocation_usr {
            width: 71%;
        }
        /*Deactivate pop up for user*/
        .usr_deact_mter{

        }    
    }

    @media only screen and (min-width:501px) and (max-width:640px) {
        .edt_usr_modal {
            margin-left: -25px;
            width: 112%;
        }

        .usr_nm {
        }

        .usr_pswd {
        }

        .usr_addr {
        }

        .usr_mob {
        }

        /*Label class name*/
        .edt_nm {
            margin-left: -11.6em;
        }

        .nm_txt {
        }

        .edt_log {
            margin-left: -139px;
        }

        .log_txt {
        }

        .edt_pswd {
            margin-left: -129px;
        }

        .pswd_txt {
        }

        .edt_repswd {
            margin-left: -73px;
        }

        .repswd_txt {
        }

        .edt_addr {
            margin-left: -149px;
        }

        .adddr_txt {
        }

        .edt_email {
            margin-left: -142px;
        }

        .mail_txt {
        }

        .edt_mob {
            margin-left: -121px;
        }

        .mob_txt {
        }

        .edt_rle {
            margin-left: -160px;
        }

        .rle_txt {
        }

        .allocation_usr {
            width: 52%;
        }
        /*Deactivate pop up for user*/
        .usr_deact_mter{

        }    
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
        .edt_usr_modal {
            margin-left: -70px;
        }

        .usr_nm {
        }

        .usr_pswd {
        }

        .usr_addr {
        }

        .usr_mob {
        }



        /****Fields class *****/
        .nm_txt {
        }

        .log_txt {
        }

        .pswd_txt {
        }

        .repswd_txt {
        }

        .adddr_txt {
        }

        .mail_txt {
        }

        .mob_txt {
        }

        .rle_txt {
        }

        /*Label class name*/
        .edt_nm {
        }

        .edt_log {
        }

        .edt_pswd {
        }

        .edt_repswd {
        }

        .edt_addr {
        }

        .edt_email {
        }

        .edt_mob {
        }

        .edt_rle {
        }

        .allocation_usr {
            width: 52%;
        }
        /*Deactivate pop up for user*/
        .usr_deact_mter{

        }    
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
        .edt_usr_modal {
            margin-left: -64px;
        }

        .usr_nm {
        }

        .usr_pswd {
        }

        .usr_addr {
        }

        .usr_mob {
        }



        /****Fields class *****/
        .nm_txt {
        }

        .log_txt {
        }

        .pswd_txt {
        }

        .repswd_txt {
        }

        .adddr_txt {
        }

        .mail_txt {
        }

        .mob_txt {
        }

        .rle_txt {
        }

        /*Label class name*/
        .edt_nm {
        }

        .edt_log {
        }

        .edt_pswd {
        }

        .edt_repswd {
        }

        .edt_addr {
        }

        .edt_email {
        }

        .edt_mob {
        }

        .edt_rle {
        }

        .allocation_usr {
            width: 52% !important;
        }
         .allocation_usr > .multiselect{
           margin-left: 131px !important;
    margin-top: -38px !important;
        }
         /*Deactivate pop up for user*/
        .usr_deact_mter{

        }    
    }

    @media only screen and (min-width:1024px) and (max-width:1100px) {
        .edt_usr_modal {
        }

        .usr_nm {
        }

        .usr_pswd {
        }

        .usr_addr {
        }

        .usr_mob {
        }



        /****Fields class *****/
        .nm_txt {
        }

        .log_txt {
        }

        .pswd_txt {
        }

        .repswd_txt {
        }

        .adddr_txt {
        }

        .mail_txt {
        }

        .mob_txt {
        }

        .rle_txt {
        }

        /*Label class name*/
        .edt_nm {
        }

        .edt_log {
        }

        .edt_pswd {
        }

        .edt_repswd {
        }

        .edt_addr {
        }

        .edt_email {
        }

        .edt_mob {
        }

        .edt_rle {
        }

        .allocation_usr {
            width: 52% !important;
        }
        .allocation_usr > .multiselect{
           margin-left: 131px !important;
    margin-top: -38px !important;
        }
        /*Deactivate pop up for user*/
        .usr_deact_mter{
           
        }    
    }

    /**************************Services Page ***************************************************************************/
    @media screen and (max-width:320px) {
         .serv_mod_cont {
            margin-left: -3% !important;
            width: 105%;
        }
    }
    
    @media only screen and (min-width:320px) and (max-width:420px) {
        .serv_mod_cont {
            margin-left: -3% !important;
            width: 105%;
        }

        .lab_serv_type {
            margin-left: 0px;
            padding-left: 5px;
        }

        .serv_desc {
            margin-left: 0px;
        }

        .serv_rte {
            margin-left: 3px;
            padding-left: 4em;
        }

        .serv_rte_txt {
            margin-left: 5.7em;
            margin-top: -1.8em;
        }

        .serv_pic {
            margin-left: 1em;
        }

        .serv_btn {
            margin-left: 5.78em;
            margin-top: -4em;
            width: 15em;
        }

        .serv_type_txt {
            margin-left: 7px;
        }

        .serv_aud {
        }

        .serv_aud {
        }

        .serv_vid {
        }

        .serv_btn > .open > .dropdown-menu {
            width: 90%;
        }

        .serv_btn > .multiselect {
        }

        .serv_btn > .allocation_m {
            width: 114%;
        }

        .serv_btn > .glyphicon-search {
            margin-left: -20px;
        }
    }

    @media only screen and (min-width:421px) and (max-width:500px) {

        .serv_mod_cont {
            margin-left: -10px;
            margin-right: 50px;
            width: 114%;
        }

        .lab_serv_type {
            margin-left: -21em;
        }

        .serv_desc {
            margin-left: -21em;
        }

        .serv_type_txt {
            margin-left: 7em;
            margin-top: -1.7em;
        }

        .serv_rte {
            margin-left: -21em;
        }

        .serv_rte_txt {
            margin-left: 7em;
            margin-top: -1.7em;
        }

        .serv_pic {
            margin-left: 10px;
            white-space: normal;
            width: 20% !important;
        }

        .serv_btn {
            float: right;
            margin-left: 6em;
            margin-top: -50px;
        }

        .serv_aud {
            margin-left: 6px;
        }

        .serv_vid {
            margin-left: 6px;
        }

        .serv_btn > .open > .dropdown-menu {
            width: 90%;
        }
    }

    @media only screen and (min-width:501px) and (max-width:640px) {

        .serv_mod_cont {
            margin-left: 7% !important;
    margin-right: 34% !important;
    width: 79% !important;
        }

        .lab_serv_type {
            margin-left: -20.5em;
        }

        .serv_desc {
            margin-left: -20.5em;
        }

        .serv_type_txt {
            /*margin-left: 7em;
    margin-top: -1.7em;*/
        }

        .serv_rte {
            margin-left: -20.5em;
        }

        .serv_rte_txt {
            float: right;
            margin-left: 7em;
            padding-left: 8px;
        }

        .serv_pic {
            margin-left: 10px;
            white-space: normal;
            width: 20% !important;
        }

        .serv_btn {
            float: right;
            margin-left: 6em;
            margin-top: -50px;
        }

        .serv_aud {
            margin-left: 6px;
        }

        .serv_vid {
            margin-left: 6px;
        }

        .serv_btn > .open > .dropdown-menu {
            width: 90%;
        }

        .serv_btn > .allocation_m {
            width: 90% !important;
        }

        .serv_btn > .btn-default {
            width: 103% !important;
        }
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
    }

    @media only screen and (min-width:1024px) and (max-width:1100px) {
        .serv_btn {
            width: 70%;
        }
    }

    @media (min-width:1201px) {
    }

    
/**************************************Select Project, Client in report page  new button replace 5 April ******************************/

    @media only screen and (min-width:320px) and (max-width:420px) {
        .chosen-container {
            width: 37% !important;
        }
    }

    @media only screen and (min-width:421px) and (max-width:500px) {

        .chosen-container {
            width: 86% !important;
        }
    }

    @media only screen and (min-width:501px) and (max-width:640px) {
        .chosen-container {
            width: 105% !important;
        }
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
        .chosen-container {
            width: 48% !important;
        }
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
        .rep_header {
            /*margin-left: -4px;
            margin-right: -8px;*/
        }

        .box6 {
            /*margin-left: -3px;
            margin-right: -31em;*/
        }

        .box7 {
            /*margin-left: -3px;*/
            /*margin-right: -31em;*/
        }

        .for_btn {
            /*margin-right: -18px;*/
        }

        .rep_date {
          
        }

        /*.rep_todate {
            margin-left: -12px;
        }*/

        .rep_srch {
           margin-left:-6%;
        }

            .rep_srch > .btn-success {
                /*margin-left: -1px;
                width: 4.5em;*/
            }

            .rep_srch > .btn-danger {
                /*margin-left: 18px;
                width: 4.4em;*/
            }

        .allocation_rep {
            /*width:86% !important;*/
        }

        .multiselect_rep {
            /*width: 100% !important;*/
        }

        .chosen-container {
            width: 96% !important;
        }
    }

    @media only screen and (min-width:1024px) and (max-width:1100px) {
        .chosen-container {
            width: 119% !important;
        }
    }

    @media (min-width:1201px) {
    }

/*****************************ENd*************************************/

/*Installer Allocation new Css */
@media (max-width:320px) {
    .box1 {
    }

    .date_form_nw {
    }

    .box2 {
        margin-top: 1em;
    }

    .box3 {
    }

    .box4 {
    }
}


/*320 by 480*/
@media only screen and (min-width: 320px) and (max-width: 420px) {
    .con_fluid_new {
        margin-left: 14px !important;
        margin-right: -19px !important;
        padding-top: 2em;
    }

    .box1 {
        width: 109%;
    }

    .prj_btn {
        width: 57em;
    }

    .date_form_nw {
        margin-bottom: 15px;
        margin-top: -8px;
        padding-left: 0;
        width: 42.5% !important;
    }

    .allocation_m {
        width: 95%;
    }

    .multiselect {
    }

    .box2 {
        margin-left: -14px;
        ;
    }

    .installer_btn {
        width: 57em;
    }

    .route_form {
        margin-left: -3px;
        margin-right: -50px;
    }

    #MultipleSelectBox_Cycle {
        margin-top: 0em !important;
    }

    .box3 {
        margin-top: 1em !important;
        margin-left: 17.7em !important;
    }

    .sel_route_btn {
        margin-left: -19em;
        margin-right: -3.9em;
    }

    #MultipleSelectBox_Route {
        margin-top: 0em !important;
    }

    #MultipleSelectBox_Address {
        margin-top: 0em !important;
    }


    .addr_form {
        margin-left: -19em;
        margin-right: 7px;
    }

    .box4 {
        margin-left: 5px !important;
        padding-top: 12px !important;
    }

    .shw_map_btn {
    }

    .save_btn {
        margin-left: 8em !important;
    }


    .cancel_btn {
        /*padding-left:2px;*/
        margin-top: -22px !important;
    }

    .res_btn {
        /*padding-left:2px;*/
        margin-left: 105px !important;
        margin-top: -22px !important;
    }


    .map_flow {
        width: 98%;
        bottom: 0px;
        padding-left: 15px;
    }


    .map_align {
        margin-left: 0;
        margin-top: -13em !important;
    }
     .drp_dwn_installoc{
          width:100% !important;
      }
     .open > .drp_dwn_installoc{
       min-width: 84%;
     }
     .drp_dwn_addr{
         width:60% !important;
     }
     .open > .drp_dwn_addr{
    min-width: 100% !important;
     }
    
    /*Modal Dialog Box CSS*/


    .modal-content {
        margin-left: -22px;
        overflow-y: auto;
    }

    .modal-header {
        height: 2.5em;
        padding-top: 3px;
        margin-bottom: -1em;
    }

    .mod_bdy {
        height: 25em;
    }

    .mod_footer {
        margin-top: -1em;
    }

    .modal_dialog_box {
        margin-top: 10px;
    }

    .mod_search {
        /*width:48%;*/
        margin-right: -3px; /*new changes*/
        width: 65%;
    }
}

@media only screen and (min-width:768px)and (max-width:799px) {
    .date_form_nw {
        margin-top: 0px !important;
    }

    .route_form {
        padding-top: 8px !important;
    }

    #divroot label {
        width: 50px !important;
    }
    /*.box4 {
			        margin-right: -62px !important;
			        margin-top: 22px !important;
			    }*/
     .open > .drp_dwn_installoc{
        min-width: 99% !important;
     }

}

@media only screen and (min-width:421px)and (max-width:500px) {

    .con_fluid_new {
    }

    .box1 {
        margin-left: -2em !important;
        margin-top: -7px;
        width: 112%;
    }

    .prj_btn {
        width: 65%;
    }

    .date_form_nw {
        margin-left: 2px;
        width: 9.2em !important;
    }

    .allocation_m {
        /*width:114%;*/
    }

    .multiselect {
        width: 16.4em !important;
    }

    .box2 {
       padding-top: 13px;
        margin-left: -3.1em !important;
    }

    .installer_btn {
        width: 71%;
    }
    .route_form{
        width:60%;
    }

    .box3 {
        float: left;
        margin-left: 206px !important;
        margin-top: -10.8em;
    }

    .addr_form {
        margin-top: -11px;
    }

    .box4 {
        float: right;
        margin-left: 17em;
        margin-right: -7em;
        margin-top: -9px !important;
    }

    .shw_map_btn {
       margin-top: -4.4em;
    }

    .save_btn {
        /*float: right;*/
        margin-left: 90px;
       margin-top: -4.4em;
    }

    .cancel_btn {
       margin-top: -1.2em;
    }

    .res_btn {
        margin-left: 90px;
        margin-top: -1.8em;
    }


    .map_align {
        margin-left: 12px;
        margin-right: -12px;
        margin-top: -13em;
    }

    /*Drop Down Menu*/

    
    
    .multiselect-container .dropdown-menu {
    }

    .dropdown-menu {
    }

    /*.open > .dropdown-menu{
    width:50%;
}*/


    /*Modal Dialog box*/
    .modal-dialog {
        margin-left: 27px;
    }

    .modal-content-wrap {
        /*width:40%;*/
    }

    .modal.fade.modal-dialog-center .modal-dialog {
    }

    .modal.fade.modal-dialog-center .modal-content-wrap {
        padding: 2px 24px;
    }

    .modal-content {
        height: 17em;
        overflow-y: scroll;
    }

    .modal-header {
        height: 2.5em;
        padding-top: 3px;
        margin-bottom: -1em;
    }

    .mod_bdy {
        height: 25em;
    }

    .mod_footer {
        margin-top: -1em;
    }

    .modal_dialog_box {
        margin-top: 10px;
    }

    .mod_search {
        /*width:48%;*/
        margin-right: 0px;
        width: 50%;
    }
}

@media only screen and (min-width:501px) and (max-width:640px) {

    .con_fluid_new {
        margin-bottom: -2em;
    }

    .box1 {
        margin-left: -13px;
        margin-top: -9px;
    }

    .prj_btn {
        width: 54%;
    }

    .date_form_nw {
        margin-left: 2px;
        width: 29.5%;
        margin-top: -9px;
    }

    .allocation_m {
        width: 122% !important;
    }

    .allocation_m >.multiselect {

    }

    .box2 {
        padding-top: 10px;
        margin-left: -26px !important;
    }

    .installer_btn {
        width: 56%;
    }

    .route_form {
        margin-right: 14px;
        margin-top: -9px;
    }

    .box3 {
        margin-left: 21.5em !important;
        margin-top: -10em;
        width: 100%;
        margin-bottom: 27%;
    }

    .sel_route_btn {
    }

    .addr_form {
        margin-top: -11px;
    }

    .box4 {      
        /*margin-left: 206px;
        margin-right: -186px;
        margin-top: -8.9em !important;*/
        margin-left: 72%;
    margin-top: -38%;
    }

    .shw_map_btn {
       padding-top: 18%;
    }

    .save_btn {
        /*float: right;*/
        margin-left: 84px;
        margin-top: 4.4em;
    }

    .cancel_btn {
        margin-top: -1.8em;
    }

    .res_btn {
        margin-left: 88px;
        margin-top: -24px;
    }

    .map_align {
        margin-left: 11px;
        margin-right: -12px;
        margin-top: -63px;
    }

    .mod_search {
        margin-right: 0px;
    }
     .open > .drp_dwn_installoc{
        min-width: 38% !important;
     }
      .drp_dwn_installoc{
          width:50% !important;;
      }

}

@media only screen and (min-width:768px) and (max-width:798px) {
    .con_fluid_new {
        margin-left: -5px !important;
        margin-top: 0;
        padding-top: 14px;
        width: 100%;
    }

    .box1 {
        margin-left: 4px;
        width: 60% !important;
    }

    .prj_btn {
        width: 44.7em !important;
    }

    .allocation_m {
    }

    .date_form_nw {
        margin-top: -7px !important;
        width: 11.3em !important;
    }

    .multiselect {
        width: 20em ;
    }

    .box2 {
        margin-left: -10px !important;
        margin-top: 1em;
    }

    .installer_btn {
        width: 44.7em !important;
    }

    .route_form {
        margin-top: -19px !important;
        width: 22em !important;
    }

    .box3 {
        margin-left: 23em !important;
        margin-top: -10.3em;
        width:61%;
    }

    .sel_route_btn {
    }

    .addr_form {
        margin-top: -8px;
    }

    .box4 {
        margin-left: 24.5em !important;
        width: 26em !important;
    }

    .shw_map_btn {
       margin-top: 0px;
    padding-left: 34px !important;
    }

    .save_btn {
       margin-left: 112px;
    margin-top: -6.5em;
    }

    .cancel_btn {
        margin-top: -21px;
        padding-left: 33px !important;
    }

    .res_btn {
        margin-top: -21px;
        margin-left: 0
    }

    .mod_search {
        margin-right: 0px;
    }

    .allocation_m > .multiselect {
        width:98% !important;
    }
    .open > .drp_dwn_installoc{
        min-width: 99% !important;
     }

    .map_align {
        margin-top: -13em !important;
        margin-left: 10em;
        margin-right: -12px;
    }
    .drp_dwn_installoc{
          width:50% !important;;
      }

}

@media only screen and (min-width:799px) and (max-width:850px) and (orientation:landscape) {

    .con_fluid_new {
        margin-left: -5px !important;
        margin-top: 0;
        padding-top: 14px;
        width: 100%;
    }

    .box1 {
        margin-left: 0px;
        width: 100%;
    }

    .prj_btn {
        width: 12em !important;
    }

    .allocation_m {
        width: 100% !important;
    }

    .date_form_nw {
        padding-left: 0;
        padding-right: 7px;
    }

    .multiselect {
        width: 50% !important;
    }

    .box2 {
        margin-left: 31px !important;
        margin-top: 0 !important;
        width: 100%;
    }

    .installer_btn {
        margin-left: -41px;
        width: 12em !important;
    }

    .route_form {
        margin-left: -3.2em;
        margin-top: -6px;
        padding-right: 8px !important;
        width: 24em !important;
    }

    .box3 {
        margin-left: -15px !important;
    }

    .sel_route_btn {
        margin-left: 9px;
        width: 21em !important;
    }

    .addr_form {
        margin-left: 9px;
        margin-top: -9px;
        width: 21em !important;
    }

    .box4 {
        margin-left: -36px;
    }

    .shw_map_btn {
       margin-left: 5px;
    margin-top: -24px;
    }

    .save_btn {
       float: right;
    margin-right: 22px;
    margin-top: -24px;
    }

    .cancel_btn {
        margin-left: 5px;
    margin-top: -17px;
    }

    .res_btn {
     margin-left: 30px;
    margin-top: -18px;
    }

    .map_align {
        margin-left: 128px;
        margin-right: -18px;
    }

    .mod_search {
        margin-right: 0px;
    }
       /*Drop down*/
     .open > .drp_dwn_installoc{
       min-width: 20%;
     }
     .drp_dwn_installoc{
          width:51% !important;;
      }
}

@media only screen and (min-width:968px)and (max-width:1023px) {
    .box4 {
        margin-right: -62px !important;
        margin-top: 22px !important;
    }

    .save_btn {
        padding-left: 40px !important;
    }

    .con_fluid_new {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -14px;
    }

    label {
        width: 100%;
    }

    .addr_form {
        padding-top: 24px;
    }


    /*.save_btn{
			        padding-left:40px !important;
			    }*/
    .box4 {
        /*margin-right: -82px !important;*/ /*new changes*/
        margin-top: 0px;
    }
}

@media only screen and (min-width:1024px)and (max-width:1100px) {
    .con_fluid_new {
    }

    .box1 {
        margin-left: -43px;
    }

    .prj_btn {
        width: 15.4em;
    }

    .date_form_nw {
        margin-right: -10px;
    }


    .allocation_m {
        width: 109% !important;
    }

    .multiselect {
    }

    .box2 {
        margin-left: -30px;
    }

    .route_form {
    }

    .installer_btn {
        width: 15.4em;
    }

    .box3 {
        margin-left: -4px;
        margin-right: 4px;
    }

    .sel_route_btn {
    }

    .addr_form {
        margin-top: -5px;
    }


    .box4 {
        margin-left: -22px;
        margin-right: 2px;
    }

    .shw_map_btn {
        margin-left: -4px;
        margin-top: -24px;
    }

    .save_btn {
        float: right;
        margin-right: 59px;
        margin-top: -25px;
    }

    .cancel_btn {
        margin-left: -4px;
        margin-top: -14px;
    }

    .res_btn {
        margin-top: -15px;
        margin-left: 15px;
    }

    .map_align {
    }

    .mod_search {
    }


    @media only screen and (min-width:1280px)and (max-width:767px) {

        .con_fluid_new {
            margin-left: 120px;
            margin-right: 120px;
            margin-top: -14px;
        }
    }
    /*new css 25 march*/

    @media only screen and (min-width:851px) and (max-width:967px) {
        .con_fluid_new {
        }

        .box1 {
            width: 116%;
        }

        .box2 {
            margin-top: 14px;
            width: 103% !important;
        }

        .installer_btn {
            width: 100%;
        }

        .route_form {
            width: 100% !important;
        }

        .box3 {
            margin-left: 21.4em !important;
            margin-top: -12em;
        }

        .box4 {
            margin-left: 20em !important;
            margin-top: -5.7em !important;
            width: 62% !important;
        }

        .multiselect {
            width: 50% !important;
            padding: 3px;
        }

        .shw_map_btn {
            margin-right: 36px;
        }

        .save_btn {
        }

        .cancel_btn {
            margin-top: -13px;
        }

        .res_btn {
            margin-left: 11px;
            margin-top: -13px;
        }
    }

    @media (min-width:1200px) {
        .con_fluid_new {
            margin-left: 20px;
            margin-right: 20px;
        }


        .box2 {
            margin-left: -16px;
            width: 122% !important;
        }

        .box3 {
            margin-left: -7px;
            width: 121% !important;
        }

        .date_form_nw {
            margin-top: -9px;
        }

        .route_form {
            margin-top: -9px;
            padding-right: 11px;
            width: 100%;
        }

        .shw_map_btn {
            margin-left: 18px !important;
            padding-left: 1px;
        }

        .save_btn {
            padding-left: 25px;
        }

        .cancel_btn {
            margin-left: 18px;
            padding-left: 1px;
        }

        .res_btn {
            padding-left: 25px;
        }


        .map_flow {
            padding-left: 13px !important;
            padding-right: 2px !important;
        }
    }

    @media (min-width:1201px) {
    }
    /******************************End installer page css**************************/

    /*******************************Dashboard Graph chart*********************************************/
    @media only screen and (min-width:320px) and (max-width:420px) {

        .canvasjs-chart-tooltip {
            margin-left: -10px !important;
        }

        .canvasjs-chart-toolbar {
            width: 100%;
        }
    }


    /*******************************End Dashboard Graph chart*********************************************/


    /************************Show deactivated button and Select records per page added in Style.css ******************************************/

    /*@media only screen and (min-width:320px) and (max-width:420px) {
    .deactivated_records{
        margin-left:-1% !important;
    }
     
    }
    @media only screen and (min-width:421px)and (max-width:500px){
        .deactivated_records {
           margin-left: -7.4%;
        }
       
       
    }
    @media only screen and (min-width:501px) and (max-width:640px){
        .deactivated_records {
           margin-left: -6%;
        }
       
    }
@media only screen and (min-width:768px) and (max-width:798px){
    .deactivated_records {
        margin-left: -6%;
           
        }
    
}
@media only screen and (min-width:799px) and (max-width:850px){
    .deactivated_records {
            margin-left: -5.8%;
        }
   
}
@media only screen and (min-width:968px)and (max-width:1023px){
    .deactivated_records {
           
        }
    .dataTables_length select{

        }
}
@media only screen and (min-width:1024px)and (max-width:1100px){
    .deactivated_records {
           margin-left: -2.7%;
        }
   
}*/

    /******************************Form Mangt****************/
    @media screen and (max-width:320px) {
    }

    @media only screen and (min-width:320px)and (max-width:420px) {

        .form_chos_sel {
        }

        .add_frm_panel {
        }

        .addfrm_instest {
        }

        .addfrm_fromdte {
        }

        .addfrm_todte {
        }
    }

    @media only screen and (min-width:421px)and (max-width:500px) {
        .form_chos_sel {
        }

        .add_frm_panel {
            margin-top: 10%;
        }

        .addfrm_instest {
            margin-bottom: 5% !important;
        }

        .addfrm_fromdte {
            margin-bottom: 5% !important;
        }

        .addfrm_todte {
            margin-bottom: 5% !important;
        }
    }

    @media only screen and (min-width:501px) and (max-width:640px) {
        .form_chos_sel {
        }

        .add_frm_panel {
            margin-top: 10%;
        }

        .addfrm_instest {
            margin-top: 5% !important;
        }

        .addfrm_fromdte {
            margin-top: 5% !important;
        }

        .addfrm_todte {
            margin-top: 5% !important;
        }
    }

    @media only screen and (min-width:768px) and (max-width:798px) {
        .add_frm_panel {
            margin-top: 10%;
        }

        .addfrm_instest {
        }

        .addfrm_fromdte {
        }

        .addfrm_todte {
        }
    }

    @media only screen and (min-width:799px) and (max-width:850px) {
        .add_frm_panel {
            margin-top: 10%;
        }

        addfrm_instest {
            margin-bottom: 5% !important;
        }

        .addfrm_fromdte {
            margin-bottom: 5% !important;
        }

        .addfrm_todte {
            margin-bottom: 5% !important;
        }
    }

    @media only screen and (min-width:968px)and (max-width:1023px) {
        .add_frm_panel {
            margin-top: 10%;
        }

        .addfrm_instest {
        }

        .addfrm_fromdte {
        }

        .addfrm_todte {
        }
    }

    @media only screen and (min-width:1024px)and (max-width:1100px) {
        .add_frm_panel {
        }

        .addfrm_instest {
        }

        .addfrm_fromdte {
        }

        .addfrm_todte {
        }
    }

   