﻿

<div>
    <div style="background-color: silver; float: left;"> <label class="control-label">Single-Line Numeric</label></div>
    <div><label class="control-label">Field Label</label></div>
    <div> <input type="text" name="TextLabel" />  </div>
    <div><label class="control-label">Default Value</label></div>
    <div>
        <input type="text" name="TextLabel" />
    </div>
    <div><label class="control-label">Decimal Positions</label></div>
    <div>
        <input type="text" name="TextLabel" />
    </div>
    <div><label class="control-label">Hint Text</label></div>
    <div>
        <input type="text" name="TextLabel" />
    </div>
    <div>
        <input type="checkbox" name="Required" id="chkRequired" />
        <label for="chkRequired">Required</label>
    </div>
    <div>
        <input type="checkbox" name="Enforce" id="chkEnforceMinMax" />
        <label for="chkEnforceMinMax">Enforce Min/Max</label>
    </div>
    <div><label class="control-label">Minimum Length</label></div>
    <div>
        <input type="text" name="TextLabel" />
    </div>
    <div><label class="control-label">Maximum Length</label></div>
    <div>
        <input type="text" name="TextLabel" />
    </div>
</div>

